[2016-03-01 16:03] stevenreinisch opened #8 "ZeroDivisionError"
Hello,

I got a ZeroDivisionError. The crash report has been submitted. The number is dbaf0b8d5f8062731ccd1b662620d467.

best,

steven

[2016-03-01 21:31] nakiostudio commented on #8
Hi @stevenreinisch. Thanks for the feedback but that report is submitted to Fastlane, not to me. Could you please give me more details? logs?

Thanks :+1:

[2016-03-02 13:05] stevenreinisch commented on #8
Hi,

I ran `scan` on my project and then `xcov`. It crashed with the following stack trace:

[code]

Looking at the code, I guess that there are no "targets" here: https://github.com/nakiostudio/xcov/blob/master/lib/xcov/model/report.rb#L45

I have a test target in my project. Why are there none found my project? My test target contains a whitespace in its name.

Thanks,

Steven

[2016-03-02 13:41] nakiostudio commented on #8
Hi again @stevenreinisch. I think I know what's the problem, I will release a hot-fix asap. About your particular case the target name shouldn't matter but I will dig into that. Thanks for reporting :+1: .

[2016-03-02 15:19] stevenreinisch commented on #8
Thanks man!

[2016-03-03 21:59] nakiostudio commented on #8
Hi @stevenreinisch :wave:

I've just released the version 0.4 fixing this problem and enabling the coverage reports for test targets. To do so you just need to add the `include_test_targets ` flag when launching xcov. Example:

[code]

It'd be great if you can confirm whether this update fixes your problems.

Thank you!

[2016-03-04 18:34] #8 closed

[2016-03-08 15:28] stevenreinisch commented on #8
Hi @nakiostudio,

the 0.4 fixes the issue. But :), I had to remove all DerivedData. If not, xcov took an older .xccoverage file - not the most recent one.

Thanks for your efforts!

[2016-03-08 15:29] nakiostudio commented on #8
I would like into that @stevenreinisch Thanks!

[2016-03-10 05:12] apocolipse opened #11 "--derived_data_path option not being used"
The `--derived_data_path` option is not being respected, in `lib/xcov/runner.rb` it attempts to find `.xccoverage` files only by looking at the .xcodeproj files, [Source](https://github.com/nakiostudio/xcov/blob/master/lib/xcov/runner.rb#L20-23)

Searching for `derived_data_path` and even `XCOV_DERIVED_DATA_PATH` in the codebase only yields the setting in `lib/xcov/options.rb`

This currently inte

[2016-03-10 09:26] nakiostudio commented on #11
Hi @apocolipse. You are absolutely right, I'm going to fix it asap.
I will keep you updated, thanks for reporting :+1

[2016-03-10 10:11] nakiostudio commented on #11
Hi @apocolipse. I've just released the version 0.5 fixing this issue and another one. Please let me know if the update solves your problem :)

[2016-03-10 10:13] nakiostudio commented on #8
Hi @stevenreinisch. I've released the version 0.5 which sorts out the problem picking the right `.xccoverage` file :+1:

[2016-03-10 10:50] nakiostudio commented on #11
Example of use:

[code]

[2016-03-10 14:02] apocolipse commented on #11
:+1: thanks @nakiostudio, just re-enabled `setup_jenkins` in my fastlane config and set up xcov and all is good.
Closing the issue

[2016-03-10 14:02] #11 closed

[2016-03-10 14:02] nakiostudio commented on #11
Great :)

[2016-03-15 09:16] odemolliens opened #13 "Unable to find any .xccoverage file."
xCov 0.5

`command: xcov -w WORKSPACE.xcworkspace -s SCHEME`

return:
Unable to find any .xccoverage file.
Make sure you have enabled 'Gather code coverage' setting on your scheme settings.
Alternatively you can provide the full path to your .xccoverage file.

Gather coverage data option :
![screenshot 2016-03-15 10 05 50](https://cloud.githubusercontent.com/assets/2726958/13772755/13186872-ea96-1

[2016-03-15 11:09] nakiostudio commented on #13
Hi @odemolliens :wave:

Thank you for reporting the issue. Could you please post the entire log? Like this:

[code]

Thanks!

[2016-03-15 11:15] odemolliens commented on #13
I think it will not help you more... no debug way?

[2016-03-15 11:26] nakiostudio commented on #13
This is pretty strange 🤔 Could you please also check that your **scheme** is marked as **Shared**. Also if you could try the following it would be great:

* Remove DerivedData folder
* Run tests
* Run xcov

Thank you for your patience!

[2016-03-15 11:33] odemolliens commented on #13
My scheme is **marked** as **Shared**. Don't forget it was working on previous **xcov** version.

    Remove DerivedData folder - OK
    Run tests - OK
    Run xcov - NOK: Error processing coverage file - see the log above

[2016-03-15 11:53] nakiostudio commented on #13
Did it work with xcov 0.4 or previous versions? The changes between 0.4 and 0.5 are trivial therefore it should be okay... Could it be a permissions issue? have you tried running `sudo xcov -w ...`

Sorry for making you try so many things but I have no idea what's causing your problem :grin:

[2016-03-15 12:19] odemolliens commented on #13
All projects was running good with xcov 0.4 version
Doesn't work better with `sudo`

[2016-03-15 12:20] odemolliens commented on #13
Do you have a debug version with logs?

[2016-03-15 12:36] nakiostudio commented on #13
I'm afraid logging is a pending task... for now I recommend you to rollback to 0.4. In the meantime I will dig a bit more into this and update you as soon as I know anything else.
Once again thank you for reporting!

[2016-03-15 12:38] odemolliens commented on #13
Ok I found the bug:
test_logs_path contains a wrong path. The folder doesn't exist.

[2016-03-15 12:40] odemolliens commented on #13
![screenshot 2016-03-15 13 39 03](https://cloud.githubusercontent.com/assets/2726958/13777960/518a5d6e-eab3-11e5-9d18-b121fdc7c446.png)
Do you manage this way ? How do you generate **derived_data_path**?

[2016-03-15 12:43] nakiostudio commented on #13
Hi @odemolliens, thank you for investigating further. That's the issue indeed. Right now I don't support relative DerivedData paths. However until I implement this you can use the `derived_data_path` flag and provide the right path to your logs.

[2016-03-15 13:00] odemolliens commented on #13
OK fixed with your work around

Keep me updated for next version.

Because now I need specify path for every project !

Thanks @nakiostudio

[2016-03-15 13:32] nakiostudio commented on #13
I will :) I'm going to keep the issue open to track the problem :+1:

[2016-04-04 14:16] stevenreinisch opened #15 ".xcovignore does not allow wildcard"
Hej,

if I add a file name with a wildcard like this:

`- *View.swift`

no file listed in .xcovignore is not ignored.

Is it possible to use wildcards?

cheers,

steven

[2016-04-04 14:19] nakiostudio commented on #15
Hey :wave:

That's not supported but it's interesting. I will support the matching of that kind of pattern for the next release :+1:

[2016-04-04 15:02] mike011 opened #16 "You cannot ignore a subproject"
**Expectation**
I don't want to see the sub project in the code coverage report.

**Setup**
I have a project with an imported subproject

**What I've Tried**
- Adding all the source files that the subproject contains to the .xcovignore ignore file, or the project name, or the base folder the project is still shown.
- There doesn't seem to be another option to ignore subprojects

[2016-04-04 15:05] nakiostudio commented on #16
Hi @mike011 :wave:

I see the point of your request, I will try to implement it for the next release of xcov :+1:

[2016-04-05 07:31] stevenreinisch commented on #15
That's awesome!

[2016-04-05 19:31] stevenreinisch commented on #16
Hi @mike011,

can you check if my [PR](https://github.com/nakiostudio/xcov/pull/17) solves your issue? I was facing the same issue with a sub project.

cheers

[2016-04-06 20:37] nakiostudio commented on #16
Closing it as #18 with the great work of @stevenreinisch implements the feature

[2016-04-06 20:37] #16 closed

[2016-04-06 20:38] nakiostudio commented on #15
Closing this thanks to you @stevenreinisch 👍

[2016-04-06 20:38] #15 closed

[2016-04-19 04:55] Streel88 opened #22 "Always 0%"
Everyone I run xcov I am getting 0%
- I have **code coverage** enabled in the Test Config
- Ensured the Scheme **shared**

I created a new Project with some quick code and Xcode is showing the count beside each function inside the IDE.

My Command
`xcov -s AutoTest -p ./AutoTest.xcodeproj -o ./build/reports/xcov_output

I get the following Output

I've attached a screenshot, if you need any more i

[2016-04-19 04:58] Streel88 commented on #22
Oh, I am also running Xcode 7.3

[2016-04-19 05:36] Streel88 commented on #22
So I found a difference between using xcodebuild and the IDE

With the IDE it works but with xcodebuild it doesn't

[2016-04-19 08:17] nakiostudio commented on #22
Hi @Streel88 👋

Try adding the `build` argument to your `xcodebuild` command. That should be the only difference between running the tests from Xcode and running them from the console. I hope it helps!

[2016-04-19 23:18] Streel88 commented on #22
Hi @nakiostudio

I tried that and still no luck, to see if you can replicate my issue

1. Purge your Derived Data, either manually or via Xcode
2. Execute the following command

[2016-04-20 07:11] nakiostudio commented on #22
Hi again @Streel88 👋

You are absolutely right, the `Debug Executable` flag must be enabled in order to get the coverage information. Could you please try adding the `-configuration "Debug"` argument to your command?

[2016-04-20 22:56] Streel88 commented on #22
Still no luck all that does is change the build configuration, from what I've learned about it is one of the executables it produces under ../CodeCoverage/.. needs to be executed which it doesn't seem to do with xcodebuild.

I will keep looking into it further to see if I can't figure out the correct command

[2016-04-21 08:05] nakiostudio commented on #22
Honestly, I have no idea what's wrong... if you can publish a sample project with this problem so I can clone and test it. I haven't been able to repro this on my machine.

[2016-04-25 13:01] mapedd opened #23 "Many projects with lots of targets"
Hi amigos! Thanks for this amazing tool!

I'm trying to use it with quite big project. It's a massive `xcworkspace` with more than  10 projects and couple dozen app, library, framework and unit test targets.

What I'd like to do is to generate xcov report for all the targets that were unit tested.

The scenario would be:

1. I run few unit test targets with "Gather Code Coverage" set to true with

[2016-04-27 01:46] Streel88 commented on #22
Sorry for the delayed reply, here is the dummy Project I put together to test
[AutoTest.zip](https://github.com/nakiostudio/xcov/files/237788/AutoTest.zip)

Scenarios
1. Test with IDE, code completion enabled. Run xcov -> Success
2. Test with IDE, code completion enabled, Debug Disabled. Run xcov -> Fail (But expected since IDE also shows no coverage)
2. Clean/Delete DerivedData Folder, Test with

[2016-05-23 21:14] daniel-beard opened #24 "Integration with fastlane is broken"
- Fastlane core Helper removed the `.log` interface in this commit: https://github.com/fastlane/fastlane/commit/c23f35790ac49d2b96978f5200d71eae85995501
- Result is that calling the `xcov` action from fastlane no longer works.

[2016-05-23 21:19] triage opened #25 "undefined method `log' for FastlaneCore::Helper:Module"
hey there and thank you for xcov:
scan completes successfully, and then with the following call:

[code]

I get:
`undefined method 'log' for FastlaneCore::Helper:Module`

`xcov 0.7`
`scan 0.7.0`

[2016-05-23 21:20] nakiostudio commented on #24
Hi @daniel-beard 👋, thanks for reporting.  A fix for this is almost ready, I will let you know as soon as I release 0.8.

[2016-05-23 21:20] triage commented on #25
closing. just realized: https://github.com/nakiostudio/xcov/issues/24

[2016-05-23 21:20] #25 closed

[2016-05-23 21:25] daniel-beard commented on #24
Thanks for the fast reply!

[2016-05-23 21:33] #24 closed

[2016-05-23 21:36] nakiostudio commented on #24
Done @daniel-beard, let me know if still having the same issue 👍

[2016-06-02 08:23] redok016 commented on #22
I have the same issue. Is there any updated information related with this?

[2016-06-02 13:08] nakiostudio commented on #22
Hi @redok016 :wave:

I'm looking at the problem, I'll try to get a fix out soon.

Thanks @Streel88 for the additional information 👍

[2016-06-07 10:32] teriiehina opened #28 "Improve integration with fastlane"
Hi,

it would be nice to be able to get the code coverage from a `Fastlane` lane. A quick'n'dirty way to do it can be seen in [this gist](https://gist.github.com/teriiehina/3a93d74e7323428b47c8c5fab267b4e7)

But this is just the unfolding of the `gem` inside the `action`. It could break at any update. A simple way to do it would be for the gem to have the option to be called `fastlane style` so th

[2016-06-15 13:50] mathcarignani commented on #22
I have the same issue with my UI tests, when I run `scan` (use xcodebuild) I don't have the coverage from those tests

[2016-06-15 14:18] triage commented on #22
I had this issue till recently. We have an objective-c project that we've only recently started implementing swift too. All of my tests would run, but it appeared that only swift files were used in the computation of coverage reports -- leading to percentages like 7%.

Turned on this build setting and now my objective-c files are included in coverage reports properly ... which was not a part of th

[2016-06-15 19:22] nakiostudio commented on #28
Hi @teriiehina 👋

As you have said one of the good things about building the gem of top of fastlane-core is that we don't need to update the fastlane action when a change is made onto our gem. However, we can share information thorough other mechanisms like environment variables, do you think it'd do the job or just in a very limited way?

Thanks!

[2016-06-15 19:28] nakiostudio commented on #23
Hi @mapedd 👋

Sorry for the delay but finally I have some time available to catch up with the issues.

Your case seems a bit particular and I'm not sure if I totally understand what you want to achieve. xcov can process a single .xccoverage file at a time, but a single .xccoverage file can gather reports for different targets therefore I don't know why you are not able to do this. If you have many

[2016-06-16 00:28] teriiehina commented on #28
oh yeah, environment variables would be totally fine. In fact, that's what I used ([gist](https://gist.github.com/teriiehina/3a93d74e7323428b47c8c5fab267b4e7)):

[code]

I opened an issue instead of a PR as I don't know what are the preferred coding/architecture style for `xcov`. If you can give me general directions, no problem to open a PR.

[2016-07-04 03:48] leogeng commented on #13
Has this issue  been fixed in  version 0.9? I also meet this issue

[2016-07-04 17:19] nakiostudio commented on #13
Hi @leogeng 👋

I'm afraid this is more a configuration issue rather a xcov specific problem. Unfortunately, I'm still trying to figure out how to get this sorted out...

[2016-07-06 08:28] nakiostudio commented on #28
Hi again @teriiehina 👋

Please take a look at this contribution by @hds: #29 with that you could read the json and therefore have access to the entire report. What do you think? would that resolve your issue?

[2016-07-06 08:29] #23 closed

[2016-07-12 11:27] thelvis4 commented on #22
After some investigations, here is what I've noticed:
* Running tests from Xcode IDE differs from running tests using `xcodebuild`:

Comparing `Logs/Test/XXX/Session-<some_uid>.log`:

**Xcode**:
[code]
**xcodebuild**:
[code]

* `LauncherIdentifier` depends on `Debug Executable` flag (in Xcode scheme):

**`Debug Executable` enabled**:
[code]
**`Debug Executable` disabled**:
[code]
So, when running

[2016-07-13 07:35] nakiostudio commented on #22
Great stuff @thelvis4 👍 I've been digging a bit into it and there is very little information. I will test a couple of things during the weekend though.

Thanks!

[2016-07-15 04:11] redok016 commented on #22
@thelvis4,@nakiostudio thanks for your great effort

[2016-07-20 15:46] michaelharro commented on #13
I also get this error. However, when I use the absolute path I continue to get the error because my path needs to be shellescaped. That is something that other fastlane actions do for me. I am ok with doing it myself but it would be nice if it were documented as it differs from the rest of fastlane. Although if you were willing to shellescape the paths that are handed to you that would be even bet

[2016-07-20 15:53] michaelharro commented on #13
jk, looks like it is a bit hit and miss about who shellescapes for you and who doesn't, which makes it a bit tricky on my end. If you did document it that would be great.

[2016-07-21 20:56] michaelharro commented on #13
I am back to believing that escaping is an issue. I ran this test to see if I can get it to generate an html report with a path that has to be escaped. Here is the output:
[code]
I believe it is the use of TempFile here https://github.com/nakiostudio/xcov/blob/master/lib/xcov-core.rb#L15 I think it is generating a file path that is unescaped and that path is the one being using in the bash command

[2016-07-27 00:46] raven commented on #22
@thelvis4 have you filed a radar? Just wanting to dupe it if you have one already :)
Also, have you had a chance to check if the behaviour is different with Xcode 8?

[2016-07-27 07:52] thelvis4 commented on #22
@raven Sorry, haven't had the time to further investigate (with Xcode 8) and to file a radar. But I would be glad to dupe the radar if you could file one. I believe we should check this on Xcode 8, as I doubt they will release another version of Xcode 7.

[2016-07-30 14:28] nakiostudio commented on #13
I've just released `0.11` which includes @michaelharro's fix. It'd be great if any of you could double check that it solves the issue.

[2016-08-03 17:21] michaelharro commented on #13
👍 it worked perfectly with escapable characters in the path. thanks for merging it.

[2016-08-03 17:50] #13 closed

[2016-08-15 11:13] RedPlumber opened #34 "Ignore files doesn't work"
Hi I have the following configuration:

[code]
How do I ignore an entire folder?

[2016-08-15 13:41] nakiostudio commented on #34
Hey @RedPlumber 👋

I've managed to make it work in my CI but there is definitely something wrong with it. I'm gonna take a look. Thanks for reporting!

[2016-08-15 13:42] nakiostudio commented on #34
Regarding how to ignore a folder there is no way right now as only filename is taken in to account.

[2016-08-20 00:50] mtitolo opened #35 "🙀 Emjoji in table not working in Github Enterprise"
For some reason, the unknown boxes come up for all the emojis in the table:
![screen shot 2016-08-19 at 5 45 47 pm](https://cloud.githubusercontent.com/assets/763698/17827631/0aa35632-6635-11e6-970d-782a47663581.png)

Emojis for no changes work fine:
![screen shot 2016-08-19 at 5 48 16 pm](https://cloud.githubusercontent.com/assets/763698/17827636/3242b2aa-6635-11e6-865c-23fef028b7a9.png)

The emo

[2016-08-20 14:48] nakiostudio commented on #35
Hi @mtitolo 👋

Thank you for reporting! I think the problem is due to an encoding issue with your CI. We use GH Enterprise 2.6 at @lyst and we haven't had any problem so far. Which CI system are you using?

Anyway, I'm going to submit a PR replacing the unicode characters for github emoji codes `: skull :`, `: no_entry_sign :`, etc that should solver our issue.

[2016-08-20 15:50] nakiostudio commented on #34
Hi again @RedPlumber,

I've been debugging this and seems working fine. I guess the path you are passing to `ignore_file_path` might not be the right one. As the default path is `fastlane/.xcovignore`, what happens if you just remove this line? `ignore_file_path: "./fastlane/.xcovignore",`

[2016-08-20 15:56] nakiostudio commented on #35
Hi again @mtitolo 👋

I've just released `0.11.1` which should fix your problem. Let me know if it actually does it!

[2016-08-22 20:06] #35 closed

[2016-08-25 20:36] #34 closed

[2016-08-28 08:38] valeriomazzeo opened #38 "updated fastlane-core dependency"
A project using xcov cannot install the latest version of fastlane 1.101.0 because of the hard dependency on fastlanecore.

A solution would be to update this dependency:
`spec.add_dependency 'fastlane_core', '>= 0.44.0', '< 1.0.0'`

[2016-08-30 10:01] #38 closed

[2016-08-30 10:02] valeriomazzeo commented on #38
Thank you @nakiostudio 👍

[2016-08-30 10:02] nakiostudio commented on #38
Hi @valeriomazzeo 👋

Thanks for reporting it! I've just merged #39 fixing this 🍻

[2016-09-09 13:02] odemolliens commented on #13
The problem persist here

But now the command: xcodebuild -list -w XXX.xcworkspace -s XXX works

Not working on fastlane (and Derived path option is defined)

[2016-09-11 18:29] daneov opened #40 "Silent option"
1st: Great work. Looks awesome 👍

I was thinking about including this in a pre-push hook, and using the return code to prevent the hook if the coverage percentage is below the given threshold.
In this use case it'd be handy to have a silent switch, which only prints the covered %.

[2016-09-25 10:13] amin234 opened #43 "Ignore Folder"
is this possible to Ignore list of classes located in folder by reference folder without add name of classes

[2016-10-05 09:44] RafaelPlantard opened #44 "No results!"
The code coverage for the app is not generated.

[2016-10-05 11:49] stevepeak commented on #22
At [Codecov](https://codecov.io) we have resolved this issue with the help of customers. It appears that `xcpretty` corrupted the coverage reports. https://github.com/codecov/example-swift/issues/14#issuecomment-249427948

Hope this is related and find it useful. Thank you!

[2016-10-05 18:59] nakiostudio commented on #22
Hi @stevepeak 👋

Thanks for the heads up, however the issue we are facing is pretty different. xcov processes swift 3 coverage reports without any problems. In addition, xcov works directly with `.xccoverage` files therefore it has nothing to do with `xcpretty` 😞

Thank you once again and keep up the good work with Codecov!

[2016-10-28 08:47] thelvis4 commented on #44
@RafaelPlantard Could you, please, provide more details on this, like for example:
* Xcode version
* How did you run the tests? Have you set *Gather coverage data* on your scheme settings window.
* Has `.xccoverage` file been generated?

Also, isn't this, by any chance, the same case as #22?
Thanks!

[2016-10-28 11:25] RafaelPlantard commented on #44
I'm so sorry, I already solved that problem, just forget to close it.

[2016-10-28 11:25] #44 closed

[2016-10-31 18:59] iwllyu commented on #22
I created a project that demonstrates this bug

https://github.com/iwllyu/UITestCoverageBug

If you run the tests via XCode IDE you get 80% of ViewController.swift coverage. If you run the tests via xcodebuild CLI you only get 40% coverage for ViewController.swift.

[2016-11-02 09:11] thelvis4 commented on #22
@iwllyu Thank you for submitting the radar and putting it on open radar as well. 👍
I'm going to duplicate it.
btw, we use "dupe" as a short form of "duplicate".

[2016-11-02 21:46] #43 closed

[2016-11-02 22:21] nakiostudio commented on #22
Thank you @iwllyu! I will take a look this weekend. Hopefully we will come up with a final solution for this issue.

[2016-11-06 12:16] nakiostudio commented on #43
Thanks to @thelvis4 the version `0.12` includes this feature :)

[2016-11-10 10:10] mpodeszwa opened #51 "Project's code coverage should respect number of lines per framework."
First of all, I really like this project. However I think calculating project's code coverage by simply averaging libraries' code coverages can be misleading. In my opinion it should be calculated using formula `total number of lines covered / total number of lines`.

Furthermore I would love to see `[number of lines covered] / [number of lines]` in reports as well.

[2016-11-12 19:49] thelvis4 commented on #51
@mpodeszwa Yeah, I must admit that calculating project's coverage by averaging target coverages might lead to misleading numbers. The thing is, this is the only way we could calculate project's coverage using the current input (from `xcov-core`). Currently, `xcov-core` doesn't provide the information about lines/covered lines.
I'm looking into adding the support for lines to `xcov-core`, though. O

[2016-11-22 15:40] tapi opened #52 "Exception when using xcov 0.12 from Danger 4.0"
Im using danger-xcov 0.2.2 not sure if this should be filed there or here. When running xcov with very minimal options I'm seeing an exception. It appears to be related to the changes in #48

## Stacktrace
[code]

## Dangerfile
[code]

It sort of looks as though the default value for `source_directory` isn't being populated. Specifying it explicitly appears to work.

[2016-11-22 22:12] #52 closed

[2016-11-23 13:49] mramsden opened #54 "Issues running on Fastlane >= 1.105.0"
We're seeing the following error coming up when running the xcov action:

`Could not find option for key :configuration. Available keys: workspace, project, scheme, derived_data_path, output_directory, html_report, markdown_report, json_report, minimum_coverage_percentage, ignore_file_path, include_test_targets, slack_url, slack_channel, skip_slack, exclude_targets`

The stacktrace indicates that

[2016-11-23 15:35] thelvis4 commented on #54
@mramsden Thanks for notifying us!
Updating `fastlane-core` to 0.57.0 definitely breaks `xcov`.
I've taken a quick look and it seems to be related to https://github.com/fastlane/fastlane/pull/6114.

`xcov` doesn't have `configuration` option, which is needed by `fastlane_core` now.
As a quick fix, I'll just add `configuration` as a optional parameter.

[2016-11-23 15:59] #54 closed

[2016-12-01 09:17] valeriomazzeo opened #57 "updated fastlane-core dependency"
A project using xcov cannot install the latest version of fastlane 1.111.0 because of the hard dependency on fastlanecore.

A solution would be to update this dependency:
`spec.add_dependency 'fastlane_core', '>= 0.44.0', '< 1.0.0'`

same as https://github.com/nakiostudio/xcov/issues/38

[2016-12-01 09:27] nakiostudio commented on #57
Hey @valeriomazzeo 👋

Thanks for reporting. Will update later today!

[2016-12-07 09:56] #57 closed

[2016-12-15 01:35] EliseLeb commented on #22
Has a solution been found?

[2016-12-16 21:05] iwllyu commented on #22
I got this on on 12/16/2016 @ 3:17AM

[2016-12-17 01:03] michaellady commented on #22
@iwllyu thank you for helping me realize I'm still sane!

[2016-12-17 11:21] mixtly87 opened #61 "Is there a way to sort coverage result list?"
Currently, xcov lists all .m files with the right coverage, but they don't seem to be sorted in any meaningful way. Is there a way to alter the sorting?

[2016-12-17 13:50] nakiostudio commented on #61
Hi @mixtly87 👋

Thanks for reporting! This must be a bug as the report was sorted by coverage in previous versions of the tool. I will take a look 👍

[2016-12-17 22:46] #61 closed

[2016-12-18 20:10] thelvis4 commented on #22
@EliseLeb This is definitely an inconsistency (bug) in Apple's tools. And it's still reproducible with Xcode 8.2.

Xcode IDE and `xcodebuild` use different UITests launchers (and debuggers):
* Xcode IDE  uses this plugin `Xcode.app/Contents/PlugIns/DebuggerLLDB.ideplugin`
whereas
* `xcodebuild` uses `IDEFoundation` framework `Xcode.app/Contents/Frameworks/IDEFoundation.framework` (and does't attac

[2016-12-19 16:48] EliseLeb commented on #22
@thelvis4 Thanks for the update!  I also filed a bug with apple but not holding my breath.  What a bummer for UI tests.

[2016-12-21 23:23] huminzhi opened #64 "does it support coveralls?"

[2016-12-22 09:17] thelvis4 commented on #64
@huminzhi Currently, it doesn't support coveralls, but it's a great feature we could implement eventually. It cannot be done quickly because this feature depends on the information about each line in a file and we don't have that yet (it's somehow related to #51).

But it's a feature I would definitely love to work on when I find some time. 😊

[2016-12-25 15:56] amitdhawan opened #65 "-bash: xcov: command not found"
Hi,
I have installed gem xcov. But when i run the command xcov -w LystSDK.xcworkspace -s LystSDK -o xcov_output it gives -bash: xcov: command not found.

Please help.

[2016-12-26 12:12] thelvis4 commented on #65
Hi @amitdhawan,
As there are different potential causes to run into this issue, it would help us to know the following:
1. How did you install `xcov`? Using `gem install xcov` command or using `bundle install`?
2. What's the output when you run `which xcov` command?
3. What's the output after running `$PATH`?

[2016-12-26 13:56] amitdhawan commented on #65
Its resolved now.

Thanks,
AD

From: Andrei Raifura
Reply-To: nakiostudio/xcov
Date: Monday, 26 December 2016 at 5:42 PM
To: nakiostudio/xcov
Cc: Amit Dhawan, Mention
Subject: Re: [nakiostudio/xcov] -bash: xcov: command not found (#65)

Hi @amitdhawan<https://github.com/amitdhawan>,
As there are different potential causes to run into this issue, it would help us to know the following:

  1.  How d

[2016-12-26 20:17] thelvis4 commented on #65
Ok, glad you figured it out.

[2016-12-26 20:17] #65 closed

[2016-12-27 03:51] Hellengo opened #66 "The operation requires a selected developer portal team"
Xcode version: 8.2.1
Mac OS: 10.11.6
xcov version: xcov 0.12.5

$ xcodebuild -workspace Vodka.xcworkspace -scheme Vodka -destination 'platform=iOS Simulator,name=iPhone 6 Plus' -configuration Debug -derivedDataPath 'build' test
.....
	Executed 2 tests, with 0 failures (0 unexpected) in 411.383 (411.388) seconds
** TEST SUCCEEDED **

$ xcov -w Vodka.xcworkspace -s Vodka --configuration Debug -o xco

[2016-12-27 10:40] thelvis4 commented on #66
@Hellengo Actually, `xcodebuild` is the one requiring a selected Developer Portal. `xcov` doesn't need it directly.

In this case, it seems like `xcov` couldn't find `.xccoverage` file because of the custom DerivedData path.
Please try to run `xcov` again specifying the DerivedData path.
Like so:
[code]

Also, to make sure `.xccoverage` file is generated you can run the tests with `-enableCodeCove

[2016-12-28 13:09] chorgo opened #67 "Hipchat addon"
I really love this gem, unfortunately we use hipchat at my new company, no I am not able to receive those nice notifications anymore. Is it hard, to port the slack messages to hip chat?

[2016-12-29 16:48] thelvis4 commented on #66
@Hellengo Have you figured this out?

[2017-01-03 02:22] Hellengo commented on #66
thx，yes it's succeeded. but the report has some questions, like this
![image](https://cloud.githubusercontent.com/assets/7005423/21561839/56e979e6-cead-11e6-9a51-aafa1596da52.png)
but really result like this

[2017-01-09 09:11] thelvis4 commented on #66
@Hellengo Can you please share with us `xcov`'s output and `.xcovignore` file (if there is one)?

[2017-01-09 13:47] thelvis4 commented on #51
Regarding displaying the info about the number of lines in reports, I'm not sure it's a must-have feature for everyone.
We might implement it in a way that could be activated with a boolean parameter, which will be false by default.
Also not sure where and how we should display the info (I'm especially concerned about the HTML report).

@nakiostudio Any insights about this?

[2017-01-09 14:06] tikitu commented on #51
If a data-point is useful: for me the new calculation method is important, the reporting is a nice-to-have but not crucial. (Seems like you're working on it already, but if I can help landing it please shout.)

[2017-01-10 10:35] #51 closed

[2017-01-20 16:20] jhanzo opened #69 "only_project_targets option not working on 0.12.5"
Despite of description done in README.md, `--only_project_targets` is not available in xcov options.

Run `xcov -p MyApp.xcodeproj --only_project_targets` returns :

[2017-01-20 16:57] thelvis4 commented on #69
@jhanzo This feature was implemented (and merged in master) after v0.12.5 and will be part of the next release (I suppose v0.13.0).
Because it's in master, you can see the option in README.

@nakiostudio Could we release a new version?

[2017-01-20 17:08] nakiostudio commented on #69
Released `1.0.0` :)

Thanks @jhanzo and @thelvis4 🙌

[2017-01-20 17:14] jhanzo commented on #69
Thanks a lot guys 👏 🚀

[2017-01-20 17:14] #69 closed

[2017-01-20 17:53] jhanzo opened #72 "Not included Pods always displayed in report"
I try to exclude my `Pods` folders in `.xcovignore` but frameworks associated with are still displayed in HTML. This is only a layout issue because these frameworks are not included in total coverage percent.

Maybe `--exclude_target` and `--include_target` should be more appropriated for this kind of purpose but it doesn't seem to be working as expected.

Indeed, I have no result when I do someth

[2017-01-20 20:31] jhanzo commented on #72
`--include_targets` is not really target name but name as it appears in report, issue solved.

[2017-01-20 20:31] #72 closed

[2017-01-25 03:23] Zaccc123 opened #73 "Bitrise: Could not find option for key :workspace. Available keys:"
Somehow, Using `fastlane` on `Bitrise` cause `xcov` to fail without the option key `:workspace`. It work locally on my machine. Anyone have any possible leads why this would happen?

<img width="875" alt="screen shot 2017-01-25 at 11 19 12 am" src="https://cloud.githubusercontent.com/assets/11663635/22276728/a1e658e0-e2f0-11e6-98d2-01a9b0fd77a5.png">

[2017-01-25 08:41] nakiostudio commented on #73
Hey @Zaccc123 👋

Thanks for reporting, this one is a weird one. Can I take a look at how are you setting xcov up on your Fastfile?

[2017-01-25 09:21] Zaccc123 commented on #73
xcov(
      workspace: "wit-reader.xcworkspace",
      scheme: "wit-reader-dev",
      output_directory: "xcov_output",
      include_targets: "wit-reader.app",
      slack_channel: "#wit-integration",
      slack_url: SLACK_WEBHOOK_URL
    )

Hey @nakiostudio the above is my setup. By the way, great work on the this, let me know if you need more information. Cheers =)

[2017-01-25 09:48] nakiostudio commented on #73
Thank you @Zaccc123 !

Your setup looks good to me, does this only happen on Bitrise and not in your local machine? which `xcov` and `fastlane` versions are you using?

[2017-01-26 06:59] Zaccc123 commented on #73
Yes, it happen only on `Bitrise` and not my local machine. Both are using the same version, thats why I find it weird that it fail on `Bitrise`.

`fastlane 2.11.0`, `xcov 1.0.0`

[2017-01-26 08:55] thelvis4 commented on #73
@Zaccc123 Do you know by any chance what version of Rubygems (`gem --version`) is used on Bitrise?

@nakiostudio I think xcov action reaches [this line](https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/actions/xcov.rb#L38) and that's why we don't get back the available actions.
We had this kind of issues with Rubygems 2.6.2 which was fixed with this [monkey_patch](https://git

[2017-01-26 10:30] Zaccc123 commented on #73
I believe it is `2.3.0`. I did manage to temporary solve it by installing `xcov` first by using the Ruby Script plugin to run `gem 'xcov'`.

The difference is that this install `xcov` first rather than installing it while `fastlane` running. Not sure if that would be the causes.

[2017-01-27 09:44] nakiostudio commented on #73
As @thelvis4 pointed out this should affect version `2.6.2` of ruby gems only. I will run some tests over the weekend 👍

[2017-01-29 10:50] nakiostudio commented on #73
I am not able to reproduce this scenario with Rubygems 2.3.0. I will close the ticket as you found a workaround for the problem.

[2017-01-29 10:50] #73 closed

[2017-01-31 02:20] Zaccc123 commented on #73
Okay.. I will update here if I manage to find more information about it. Thanks for your time =)

[2017-02-01 20:05] huminzhi commented on #64
Thank you very much @thelvis4 for replying..
Quick dumb question.. is branch coverage or line coverage provided by xcov?

[2017-02-02 08:58] thelvis4 commented on #64
@huminzhi Basically, `xcov` uses the data provided by Xcode, and Xcode gives us line coverage.
I would prefer to have branch coverage provided by Xcode, though. 😞

[2017-02-09 13:56] manas-chaudhari opened #74 "Case sensitivity needs to be handled in .xcovignore"
I am running this on macOS. xcov version 1.0.0.

On my system, I have a directory named `Common`. It was renamed from `common` a while ago, and I had also updated the index on `git`. I want this directory to be ignored when using `xcov`. In `.xcovignore`, adding `Common` doesn't work. Strangely, adding `common` makes it work.
I think this issue is because the file system on macOS is case insensiti

[2017-02-09 15:19] manas-chaudhari commented on #74
Turns out my pbxproj still contained old name :/
Fixed

[2017-02-09 15:19] #74 closed

[2017-02-09 15:35] thelvis4 commented on #74
I was about to push a solution for this already 😄

I still think it's a good idea to compare case-insensitively as we cannot have `TestFolder` and `testfolder`. 🤔
@nakiostudio what do you think about this?

[2017-02-09 15:40] manas-chaudhari commented on #74
In case we don't want to compare case-insensitively, perhaps a line in documentation mentioning that xcov reads path from pbxproj would help.

[2017-02-09 15:48] thelvis4 commented on #74
Not sure what `reads path from pbxproj` means in this context. 🤔
Can you give an example, please?

[2017-02-10 09:36] manas-chaudhari commented on #74
Sure. Let me indicate the scenario where case sensitivity causes a problem.

In pbxproj file, the path value is `common/AppDelegate.swift`. It looks as follows:

[code]

In my file system, and in git, the directory's name is `Common` with a capital `C`. In this scenario, if I want to ignore this file for code coverage, I need to add `common/AppDelegate.swift` in my `.xcovignore`.

Thus, when I sai

[2017-02-10 09:50] thelvis4 commented on #74
@manas-chaudhari Thanks for the example and a good explanation. 🙌

When this scenario happens, I believe, it would be easier to reason that matching ignored files/folders happens case sensitively than to dig into the project file to find out what's the case of the files/folders we want to ignore.
Suddenly, having case insensitive matching makes even more sense. 😄
I will open the PR I planned to op

[2017-02-12 18:37] nakiostudio commented on #74
Thanks both @manas-chaudhari and @thelvis4 🙌

I agree with you @thelvis4, simplicity FTW :)

[2017-02-22 18:46] getaaron opened #80 "Request for --hide-ignored-files option"
Currently files ignored via `.xcovignore` are not *really* ignored — they appear as 0% coverage.

For example:

![image](https://cloud.githubusercontent.com/assets/789577/23226744/91757a16-f8eb-11e6-9855-f739a9f62ba3.png)

[code]

However, I don't want to see these files at all.

Would be nice if there was a `--hide-ignored-files` option to completely remove this irrelevant stuff from the report.

[2017-02-22 18:47] getaaron opened #81 "Order is inconsistent"
On some runs I get:

[code]

On other runs I get:

[code]

It would be nice if there were a consistent (and customizable) sort order. For example, first by percentage of coverage, then by alphabetical order.

[2017-02-28 09:41] nakiostudio commented on #80
Hey @getaaron ! Sorry for the delay in my reply. These are targets therefore you should be able to ignore them using the option `exclude_targets`. i.e.

[code]

[2017-02-28 09:52] nakiostudio commented on #81
Hey @getaaron, thanks for your feedback!

I would go for either sorting it alphabetically or by coverage. Adding a new option for this would be overcomplicating a bit the list of arguments. What do you think?

[2017-02-28 22:01] nakiostudio commented on #64
It does now :)

[2017-02-28 22:01] #64 closed

[2017-03-02 13:23] valeriomazzeo opened #85 "wrong number of arguments (given 0, expected 1)"
Hi there,

Since upgrading to xcov `1.1.1`, I have started getting this error from fastlane:
`wrong number of arguments (given 0, expected 1)`

I am not sure what if it's something to do with how fastlane launch xcov or xcov directly.

Same issue as described here: https://github.com/fastlane/fastlane/issues/8407

Also, everything works on xcov `1.0.1`

[2017-03-02 14:15] nakiostudio commented on #85
Hi @valeriomazzeo 👋 always super fast reporting issues!

Integration with Fastlane is broken until they release a new version including this change:
https://github.com/fastlane/fastlane/pull/8400

Hopefully it won't take long!

[2017-03-02 14:19] valeriomazzeo commented on #85
good to know, thank you very much! :)

[2017-03-06 22:35] nakiostudio commented on #85
This should be fixed now :)

[2017-03-07 08:40] nakiostudio commented on #85
Confirmed 🎉 https://github.com/nakiostudio/EasyPeasy/pull/51

[2017-03-07 08:40] #85 closed

[2017-03-07 13:09] Usipov opened #87 "Specifing a destination to run tests on"
Thanx for that noteworthy tool!

Did not find an analog to the `xcodebuild`'s parameter
[code]

[2017-03-07 13:25] nakiostudio commented on #87
Hi @Usipov 👋

Thanks for your comment!

`xcov` doesn't run tests. It only takes the output of the latest tests pass and creates the report, for that reason set the destination is not really needed :)

[2017-03-07 13:32] Usipov commented on #87
@nakiostudio, Thanks for the answer!
Looks like i misunderstood the API

I searched for a `xcov` parameter to specify a file to be scanned
[code]

Instead i found parameters looking similar to those of `xcodebuild` command.
That's when i started considering the `xcov` as a wrapper around `xcodebuild`

I'm confused =)

[2017-03-07 13:37] #87 closed

[2017-03-22 15:01] earltedly commented on #22
I've filed a radar too - thanks everyone in this thread for saving me a few extra hours working out what was going on! Has anyone tried in the latest beta yet?

[2017-03-23 18:21] thelvis4 commented on #22
@neonichu told me that the ticket is under investigation. 🤞

[2017-03-24 08:54] earltedly commented on #22
@thelvis4 @neonichu it also might relate to <rdar://problem/28571841> which I filed about UI tests always reporting 0% coverage for linked frameworks. There's a simple example project attached.

[2017-03-27 09:18] ushisantoasobu opened #88 "Getting raw coverage value"
Thank you for a gread work! But I have a question.

Is there any way for posting **raw coverage value** to Slack?
This means, for example, not `12%` but `12.45%`.

Maybe I need an option to avoid below codes.
https://github.com/nakiostudio/xcov/blob/b4d00172e7277adae5f28f8fe36c19af33600499/lib/xcov/model/base.rb#L13-L17

[2017-04-19 21:27] michaellady commented on #22
Anyone try this on 8.3.2 yet?

[2017-04-20 13:19] ArthurAlvarez opened #91 "Can't generate the report"
Hello, I am currently trying to use xcov as a post execution script on a Xcode bot for CI.

The xcov script works well on my local machine, but when Xcode runs it on the server I get the following result:

[10:10:18]: [4m[36m$ xcodebuild -list -workspace Next\ App.xcworkspace[0m[0m

+-----------------------------+---------------------------------------------------------------------------------

[2017-04-20 22:30] iwllyu commented on #22
@michaellady you're welcome to clone the project here https://github.com/iwllyu/UITestCoverageBug and try it out on 8.3.2

[2017-04-20 22:49] michaellady commented on #22
Hi @iwllyu, I'm still seeing the command line issue on 8.3.2

[2017-04-21 01:06] iwllyu commented on #22
thanks, I've updated the readme in that project

[2017-05-19 15:53] JohnCoates commented on #22
I looked into fixing this. Found the difference in logs that @thelvis4 did. Figured I'd see if there was an undocumented flag I could pass to xcodebuild to use the LLDB launcher instead of PosixSpawn. Decompiling didn't find anything, so I decided to force it myself to see if it would work. Modifying xcode build to use LLDB instead of PosixSpawn indeed works, but its fragility won't be an ideal so

[2017-05-24 22:22] michaelharro commented on #91
I am also experiencing the same problem.

It is caused by the use of the tempfile gem here https://github.com/nakiostudio/xcov/blob/b4d00172e7277adae5f28f8fe36c19af33600499/lib/xcov/coveralls_handler.rb#L54 and here https://github.com/nakiostudio/xcov/blob/b4d00172e7277adae5f28f8fe36c19af33600499/lib/xcov-core.rb#L15

The tempfile gem requires you to have read and write access to subdirectories of

[2017-05-30 12:11] ArthurAlvarez opened #93 "Hide ignored files on the HTML report"
Is there any way to hide the ignored files on the HTML report?
Currently they appear on the report having 0% coverage.

[2017-06-13 19:09] iwllyu commented on #22
https://github.com/coryalder is reporting that this is fixed in XCode9

https://github.com/iwllyu/UITestCoverageBug/issues/4

[2017-06-13 19:10] michaellady commented on #22
Woot!
On Tue, Jun 13, 2017 at 12:09 PM iwllyu <notifications@github.com> wrote:

[2017-06-13 19:11] nakiostudio commented on #22
Amazing work by the dev tools team in this release 👏

[2017-06-13 19:12] asos-petergoldsmith commented on #22
*OMG*

[2017-06-26 08:56] robertofrontado opened #94 "Ignoring folders doesn't work"
This is my setup:

Fastfile
[code]

.xcovignore
[code]

Is not ignoring the files at that folder, is that right? Or I'm doing it wrong

[2017-07-07 12:24] kohtenko commented on #94
Same here. None of the options below work for me:
[code]

[2017-07-07 12:35] robertofrontado commented on #94
Yep I had to ignore every file 😞

[2017-07-07 12:55] kohtenko commented on #94
Looking into the source code I can see that ignoring actually works well. Files that I wanted to ignore weren't listed in terminal during the execution because they don't added to the target. So coverage calculated without them even if they aren't in `.xcovignore`.
Don't know about your case though, @robertofrontado.

[2017-07-15 08:47] nakiostudio commented on #94
Hi @robertofrontado @kohtenko :wave:

Thanks for reporting! I'm digging into this right now 👍

[2017-07-15 08:48] nakiostudio commented on #93
Hi @ArthurAlvarez 👋

Ignored files were supposed to appear greyed out, will take a look 👍

[2017-07-15 08:49] #66 closed

[2017-07-15 08:51] nakiostudio commented on #88
Hi @ushisantoasobu 👋

There is no way of doing that right now, I will default to that 👍

[2017-07-15 08:52] nakiostudio commented on #91
Closing as @michaelharro has fixed the issue. Will be shipped in the next version 👍

[2017-07-15 08:52] #91 closed

[2017-07-15 08:52] #80 closed

[2017-07-15 12:25] nakiostudio commented on #94
Can't reproduce the issue, the only thing that works funny is how the path to the `.xcovignore` file set by default.

This is my .xcovignore file:
[code]

And this is the result:
<table><tr>
<td>
<img width="859" alt="screen shot 2017-07-15 at 13 17 50" src="https://user-images.githubusercontent.com/1814571/28239277-8a005b3a-6960-11e7-92f9-c162bb9bb5e3.png"/>
</td>
<td>
<img width="1116" alt="scre

[2017-07-15 12:34] nakiostudio commented on #93
@ArthurAlvarez this is how ignored files appear on my HTML reports.

![screenshot](https://user-images.githubusercontent.com/1814571/28239278-8e7540f4-6960-11e7-94ae-0e15cf455505.png)

Are you talking about the ignored files on the report or the target?

[2017-07-15 13:04] nakiostudio commented on #81
Change included in `1.3.0` :)

[2017-07-15 13:04] #81 closed

[2017-07-15 13:04] nakiostudio commented on #88
Change included in `1.3.0` :)

[2017-07-15 13:04] #88 closed

[2017-07-17 13:32] ArthurAlvarez commented on #93
I was talking about the targets but I was able to solve this by using the 'exclude_targets' flag.

Thanks for the support!

[2017-07-17 13:32] #93 closed

[2017-07-18 05:07] ushisantoasobu commented on #88
@nakiostudio Thank you so much!!! 😄

[2017-07-18 07:53] AvdLee opened #96 "Output directory is now required"
With the 1.3.0 release suddenly all our CI dependent on Xcov broke.
After investigating the issue it turned out we had to define the output directory as in `Xcov.config[:output_directory]`.

This seems to be required after `1.3.0` and could be something you want to either make `optional` or more required by adjusting the docs.

[2017-07-18 08:14] nakiostudio commented on #96
Hi @AvdLee 👋

Thanks for reporting. It's weird as when `output_directory` is not defined it should fallback to the default value. I'll keep you updated 👍

[2017-07-18 08:28] nakiostudio commented on #96
@AvdLee could you post the exception raised by xcov please?

[2017-07-18 11:43] robertofrontado commented on #94
@nakiostudio Strange thing, I tested it today again and using `Pods` it worked 🤔

So, I'll close this issue and reopen it again if needed 👍

[2017-07-18 11:43] #94 closed

[2017-07-19 08:23] valeriomazzeo commented on #96
@nakiostudio I was about to open the very same issue

[code]

[2017-07-19 08:32] nakiostudio commented on #96
Thanks for the logs @valeriomazzeo, this is very helpful 👍.

In the meantime I recommend you folks to add the following to your Gemfile:

[code]

[2017-07-19 10:06] valeriomazzeo commented on #96
@nakiostudio danger-xcov 0.3.2

[code]

[2017-07-19 10:52] valeriomazzeo commented on #96
@nakiostudio danger-xcov 0.3.3

[code]

[2017-07-19 10:56] nakiostudio commented on #96
Hi again @valeriomazzeo 👋

Thanks for the logs, sorry that I have to fix this completely blind. Can I see how you are instantiating the xcov plugin in your Dangerfile please? (removing any sensitive information).

[2017-07-19 11:01] valeriomazzeo commented on #96
@nakiostudio no problem at all 👍

This was working before:

[code]

[2017-07-19 11:07] nakiostudio commented on #96
Thanks @valeriomazzeo !

So `danger-xcov` wasn't doing any options validation and it does now. I think it's safer to keep it on but then you would need to change that `minimum_coverage_percentage` from `70` to `70.0` 😢.

I know it's going to break backwards compatibility but `default_values` will work from now on, in addition users will get some light when an incorrect parameters is set.

Again th

[2017-07-19 11:10] valeriomazzeo commented on #96
no problem, I will change it to be a float, make sure to update the documentation 💯

[2017-07-19 11:10] nakiostudio commented on #96
I will! thank you both for reporting @valeriomazzeo @AvdLee 🍻

[2017-07-19 11:10] #96 closed

[2017-07-24 14:00] iwllyu commented on #22
Oops we may have jumped the gun.

https://github.com/iwllyu/UITestCoverageBug/issues/4#issuecomment-317430848

tl;dr: it looks like both xcode and xcodebuild are not covering UI tests. xcode could have erroneously reporting coverage before and  Apple intends for UI tests not to be part of code coverage.

Well, at least they're consistent now

[2017-08-05 04:50] nmccann commented on #80
The `only_project_targets` parameter might also address this particular situation.

[2017-08-18 22:28] jsetting32 opened #97 "Multiple xcov schemes"
Is there a way I can tell xcov to reference multiple schemes? Either by
[code]
or
[code]
or something else?

[2017-09-27 20:47] Vkt0r commented on #22
@iwllyu Any update in this?? I'm running Xcode 9 and after ran all the tests the UI Tests are missed from the xcoverage report. Xcov is only reporting the unit tests.

[2017-09-29 02:36] AlbertoLourenco opened #98 "Coveralls upload error"
Please, why I'm getting this error:

`/Library/Ruby/Gems/2.0.0/gems/xcov-1.3.0/lib/xcov/coveralls_handler.rb:75:in `initialize': No such file or directory - xcov_output/tmp/coveralls_report.json20170928-55649-1dyhfu0 (Errno::ENOENT)
	from /Library/Ruby/Gems/2.0.0/gems/xcov-1.3.0/lib/xcov/coveralls_handler.rb:75:in `new'
	from /Library/Ruby/Gems/2.0.0/gems/xcov-1.3.0/lib/xcov/coveralls_handler.rb:7

[2017-12-01 21:07] initFabian opened #100 "empty `slack_url` causes crash"
Hello,

I use xcov as apart of the Fastlane suite in both personal and work projects. In the case of my work projects, we use a generic Fastlane setup and simply switch out some environment variables inbetween all our projects, one of which is `slack_url`. If we do not have a value for that variable, we just leave it empty(incase we want to provide one later). This causes xcov to throw when trying

[2017-12-02 10:07] #100 closed

[2017-12-22 13:34] wolesolana opened #102 "Xcov not picking up .xcovignore file"
Hi,

I created a `.xcovignore` file in the default path for `xcov` (`.fastlane/.xcovignore`) but I keep getting this warning when I run my test suite:
[code]

This creates a problem as I have a number of files I need to ignore to get accurate coverage report. Is this a bug or am I missing something in my setup?

I am using `xcov 1.3.1` and `fastlane 2.70.3`

Thanks for your help.

[2017-12-25 11:17] nakiostudio commented on #102
Hi @wolesolana 👋

Thanks for reporting, could you try placing the `.xcovignore` file in the path where `fastlane` is run from?

You can also specify the path to the file using the `ignore_file_path` argument.

[2017-12-26 00:32] wolesolana commented on #102
Thanks for the response @nakiostudio ( I appreciate you reaching out on Christmas day). I tried using the `ignore_file_path` argument using an absolute reference to the `.xcovignore` file but I still got the same error.

When you say I should place the `.xcovignore` file in the `fastlane` path, what do you mean? I run fastlane using `bundle exec fastlane`.

[2018-01-04 13:40] wolesolana commented on #102
Happy New Year @nakiostudio! Any updates on this bug? Is it something I'm doing wrong?

[2018-01-06 17:27] thelvis4 commented on #102
Hi @wolesolana!
Is your Fastlane folder hidden (Project/.fastlane/)?
If yes, #103 should fix the issue.

[2018-01-07 01:34] wolesolana commented on #102
Thanks for the response @thelvis4. No, my `fastlane` folder is not hidden.

[2018-01-07 08:45] thelvis4 commented on #102
@wolesolana Can you, please, check if the syntax of `.xcovignore` is correct, by running:
[code]
and then (in interactive mode):
[code]
\* Replace `/Path/to/your/.xcovignore` with the path where `.xcovignore` stays.

[2018-01-08 12:26] wolesolana commented on #102
Hi @thelvis4, I did what you suggested and I got this error output:
[code]
So I guess my `xcovignore` file is not written properly? Here's the text of my `.xcovignore` file:
[code]
I'm suspecting the issue is with the `*.json` line?

[2018-01-08 12:29] wolesolana commented on #102
I just took out that line and everything runs fine. What is the correct syntax to ignore all files of a particular type? Since it seems the `*.file_type` syntax generates an error?

[2018-01-08 12:31] wolesolana commented on #102
Never mind. I think I found the answer in the documentation. Thanks for the help!

[2018-01-08 12:31] #102 closed

[2018-01-17 10:13] shadzik opened #104 "Fastlane >= 2.76.1 with slack-notifier 2.3.2 conflict"
Hey,

seems the latest (as of writing this) Fastlane version 2.76.1 needs slack-notifier 2.3.2 but xcov 1.3.x still depends on slack-notifier ~> 1.3.

Could you please update that dependency so slack notifications work again? Thanks!

[2018-01-18 15:18] johnmillz commented on #104
It's actually >=2.76.0 which has the conflict see:

https://github.com/fastlane/fastlane/pull/11465/files

[2018-01-21 09:57] #104 closed

[2018-01-21 10:04] nakiostudio commented on #104
Just released `1.3.2`. Thanks @thelvis4 for the fix and the rest of you for your patience.

[2018-01-24 11:00] sauvage7 opened #107 "Files ignored in .xcovignore, but appearing in coverage report"
Hi @nakiostudio
Like statet in the title, one of my team mates discovered something odd: files which were added into .xcovignore were also ignored during the coverage calculation (I can see this in the console which files were ignored), but they appear in the .html coverage report (and everywhere is 0%). Is this by intent?

[2018-01-27 10:32] thelvis4 commented on #107
Including ignored files in HTML report seems a bit confusing (slightly related to #93).
@nakiostudio Is there any reason to include them in the reports?

[2018-01-27 11:56] nakiostudio commented on #107
Hi @sauvage7 and @thelvis4 👋

The idea was to exclude the ignored files coverage from the target overall coverage but don't exclude the files from the report. A file might be worth ignoring to you but maybe not to other team member.

Given that the idea is not clear and it's source of confusion I'm going to open a PR excluding ignored files from coverage reports. Makes sense?

[2018-01-27 15:23] vgorloff commented on #22
Xcode Version 9.3 beta (9Q98q) seems resolves issue with missed UI Tests coverage as long as `Debug executable` not enabled in Test schema. Details: https://stackoverflow.com/a/48477190/1418981

[2018-02-12 17:15] raven commented on #22
I've verified this is indeed working again 🎉

[2018-02-12 17:16] #22 closed

[2018-02-13 14:52] raven opened #108 "Unable to provide full path to .xccoverage file"
There is error output here that states that you can provide a full path to the .xccoverage file:
https://github.com/nakiostudio/xcov/blob/b4d00172e7277adae5f28f8fe36c19af33600499/lib/xcov/error_handler.rb#L12

However there is no mechanism to provide a full path to the .xccoverage file that I can see within: [manager.rb](https://github.com/nakiostudio/xcov/blob/a7dbd6a2901b8944a692c2a2ab3228913504

[2018-03-02 08:45] pertau commented on #104
I'm sorry, we use Fastlane version 2.83 with Xcov version 1.3.2 and slack-notifier plugin 2.3.2.

Since the update to fastlane version 2.83, our Xcov Slack Notification ignores the "slack_username" and "slack_channel" properties.

Do you have any ideas, how to fix this problem?

[2018-03-05 06:45] azd-nightingale opened #109 "Xcov Slack Notification doesn't read parameters anymore."
I'm sorry, we use Fastlane version 2.83 with Xcov version 1.3.2 and slack-notifier plugin 2.3.2.

Since updating to fastlane version 2.83, our Xcov Slack Notification ignores the "slack_username" and "slack_channel" properties.

Do you have any ideas, how to fix this problem?

[2018-03-08 09:32] nakiostudio commented on #109
Hi @azd-nightingale 👋,
There is a breaking change now that Fastlane uses slack-notifier 2.x.x. I'll look into it today.

Thanks for reporting!

[2018-03-08 09:54] nakiostudio commented on #109
I've just merged a fix for this. Could you please update xcov to `1.3.3` and give it a go?

Thanks!

[2018-03-08 14:09] azd-nightingale commented on #109
Hi @nakiostudio, thanks for the fast bugfix. We just tried it. Works!

[2018-03-08 14:37] nakiostudio commented on #109
Great, thank you @azd-nightingale!

[2018-04-03 12:12] Blackjacx opened #111 "Unable to find any .xccoverage file"
Hey there,

I got this issue today. I just set the Xcode version to 9.3 and it seemed they changed some settings concerning the code coverage. The screen now looks like this:

![screen shot 2018-04-03 at 14 09 47](https://user-images.githubusercontent.com/794372/38248452-b75d9834-3748-11e8-8380-a39aaeac174b.png)

And also when I have a look in the DerivedData folder I can find these files:

![scre

[2018-04-03 14:27] davevdveen commented on #111
https://github.com/nakiostudio/xcov-core/issues/12

[2018-04-04 09:52] Blackjacx commented on #111
Works like a charm 👍

[2018-04-04 12:59] #111 closed

[2018-04-04 18:25] vizllx opened #113 "Files/Folder names added in .xcovignore is not updating in HTML coverage report still showing 100%"
I have added this lines in .xcovignore file
[code]

I am using fastlane , adding this in my fastlane file:-
[code]

But in the coverage report the "main.m" is showing 100% code coverage.

Please find a solution for it.
<img width="930" alt="screen shot 2018-04-05 at 2 24 06 am" src="https://user-images.githubusercontent.com/6848045/38326481-7d3f2efc-3878-11e8-8e3f-204a69537f89.png">

[2018-04-05 03:43] vizllx commented on #113
Well, I fixed it .. by adding this in fastlane

    `ignore_file_path: "fastlane/.xcovignore",`

[2018-04-05 03:43] #113 closed

[2018-04-05 21:55] eelcokoelewijn-afrogleap commented on #108
@raven Not sure if you are using Xcode 9.2 or Xcode 9.3, if you are using Xcode 9.2 with the latest version of Xcov 1.4. You can set the `legacy_support` parameter to `xccoverage` in your fastfile to parse the coverage reports generated by Xcode 9.2. No need to specify a path.

@nakiostudio Maybe you can update the README for the `legacy_support` parameter, so it explains the `legacy_support` para

[2018-04-11 21:40] chrisballinger opened #114 "Do not print full coveralls_repo_token to stdout"
It would be nice if this was redacted.

[2018-04-11 22:42] chrisballinger opened #116 "Coveralls broken on 1.4.0"
I'm guessing the report format changed?

[code]

[2018-04-12 09:08] nakiostudio commented on #116
Hi @chrisballinger  👋

Thanks for reporting. This is due to a change on the xccovreport's format vs xccoverage's. I will hope to get a fix out soon.

[2018-04-12 09:10] #114 closed

[2018-04-12 16:05] chrisballinger commented on #116
Thanks!

[2018-04-17 23:23] prolificcoder opened #120 "How to show xcov results in Jenkins"
Apologize if this has been answered or known already. I tried searching through other documentation and issues but haven't found a solution yet.

We are using Jenkins with fastlane and able to generate code coverage with xcov. I can see the report.json file being generated. Now I would like this report to be integrated within Jenkins something like this:
![image](https://user-images.githubusercont

[2018-04-18 23:25] yashwanth777 commented on #120
hey I am trying to do the same how did you generate the report using xcov I am having some issues in generating it
[19:21:49]: Unable to find any .xccoverage file.
[19:21:49]: Make sure you have enabled 'Gather code coverage' setting on your scheme settings.
[19:21:49]: Alternatively you can provide the full path to your .xccoverage file.

[2018-04-19 01:32] prolificcoder commented on #120
I did few things
1. code_coverage:true in scan
2. legacy_support:xccoverage in xcov

I made more progress than you but i am still not there yet :|

[2018-04-19 02:43] yashwanth777 commented on #120
I got the report now I am now trying to integrate it with sonarqube

[2018-04-20 21:59] cisum-la commented on #108
I used below command as i am using Xcode 9.2:
xcov --legacy_support xccoverage [Path_to_coverage_file]

But getting below error:
[14:53:06]: Unable to find any .xccoverage file.
[14:53:06]: Make sure you have enabled 'Gather code coverage' setting on your scheme settings.
[14:53:06]: Alternatively you can provide the full path to your .xccoverage file.

Looking for related GitHub issues on fastlan

[2018-04-23 07:07] eelcokoelewijn-afrogleap commented on #108
@cisum-la I think the path is not needed. So the command is: `xcov --legacy_support xccoverage` Xcov then uses the old way of finding and collecting information from .xccoverage file.

[2018-04-23 17:27] eMdOS opened #121 "xcov 1.4 is not reading reports from Xcode 9.3"
<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                       |
| --------------------------- | ------------------------------------------- |
| OS                          | 10.13.3                                     |
| Ruby                        | 2.4.1                                       |
| Bundler?

[2018-04-26 18:25] chrisballinger opened #122 "Use Xcode 9.3's built-in xccov tool"
For example:

[code]

There's already another gem that helps parse the json reports: https://github.com/KazuCocoa/xccov-parse

[2018-04-30 13:36] revolter opened #123 "New release"
Can I get a new release that includes #119 so I can add the missing `Parameters` table to https://docs.fastlane.tools/actions/xcov?

[2018-04-30 14:07] #40 closed

[2018-04-30 14:07] #67 closed

[2018-04-30 14:11] nakiostudio commented on #123
Hi @revolter 👋

I'll be releasing `1.4.1` today, I haven't had the opportunity to do it before as I wanted to do some more testing. Anyway, there is no need of updating the params table on Fastlane's documentation as it already links to xcov's README file that will always be up to date :)

[2018-04-30 14:15] nakiostudio commented on #122
Hi @chrisballinger 👋

Thanks for opening the issue :)

xcov already uses the  `IDEFoundation` utilities that xccov uses under the hood therefore switching to xccov wouldn't add any value. You can find more details on this [here](https://github.com/nakiostudio/xcov-core/issues/12).

[2018-04-30 14:17] #98 closed

[2018-04-30 15:26] chrisballinger commented on #122
Ahh cool. Thanks!

[2018-04-30 15:26] #122 closed

[2018-04-30 20:09] revolter commented on #123
Yeah, but it wouldn't hurt to have them on the website too 😃.

[2018-04-30 20:51] nakiostudio commented on #123
It won't harm as long as someone commits itself to **always** keep it up to date :)

[2018-04-30 20:55] revolter commented on #123
We have _fastlane_ for this 😛 But really, the docs get updated at least once every release with the latest changes ❤️.

[2018-04-30 21:06] nakiostudio commented on #123
Okay okay. Just shipped `1.4.1` :)

[2018-05-01 20:46] daneov commented on #40
Is there an alternative way, @nakiostudio ?

[2018-05-02 07:58] Usipov commented on #121
`Xcode 9` has changed the way it stores coverage reports
`Xcode 9.3` also includes a new command line tool to represent coverage data in both human-readable and machine-parseable format: `xccov` (see `man xccov`)

[2018-05-08 08:35] markobyte commented on #121
Same issue.

[2018-05-08 08:36] nakiostudio commented on #121
Hi @eMdOS @markobyte 👋

Can I see the arguments you're passing to xcov? Thanks :)

[2018-05-08 08:43] markobyte commented on #121
I'm trying to use it with BuddyBuild following this tutorial: https://www.buddybuild.com/blog/using-danger-ci-with-buddybuild

[code]

[2018-05-08 08:49] nakiostudio commented on #121
@markobyte is BuddyBuild running Xcode 9.3? and the latest version of xcov?

Also, could you try with `derived_data_path: "/tmp/sandbox/#{ENV['BUDDYBUILD_APP_ID']}/bbtest"` instead of `derived_data_path: ENV['BUDDYBUILD_TEST_DIR']`?

[2018-05-09 14:44] nakiostudio commented on #121
Thanks for the update @markobyte 👍. It's always tricky to draw line between the things BB does automatically and the things you need to do by yourself.

[2018-05-10 05:16] ProudOfZiggy opened #126 "uninitialized constant Gem::BundlerVersionFinder (NameError)"
I've add `xcov` into my Gemfile:
[code]

Then I'm doing `bundle install` to install a Gems.

But `xcov` is just not working when I'm trying to use it. Its failing with this error:
[code]

Any suggestions?

[2018-05-11 02:15] ProudOfZiggy commented on #126
@nakiostudio

It's starts working after `gem cleanup`

But then, after
[code]
I have the same error.

[2018-05-16 05:34] swhitty opened #127 "xcov linesCovered differs greatly from xccov view --json"
When upgrading from Xcode 9.2 -> Xcode 9.3 I am noticing that xcov is now reporting linesCovered figures that differ greatly from what Xcode reports.

I have also verified that the reported lineCovered does not align with the `xcrun xccov view` json report.

`% xcrun xccov view ${DERIVED_DATA}/Logs/Test/*.xccovreport --json > report.json`

From the attached project it appears the the reported xcov

[2018-05-16 08:57] nakiostudio commented on #127
Hey @swhitty, thanks for reporting and taking the time of creating the test project.

The issue here is that xcov is calculating the coverage with the average file coverage whereas Xcode is using the average function coverage. I will push a fix ASAP.

[2018-05-17 18:31] diegotl opened #128 "Firebase files appearing in HTML report"
I don't know on which version this began happening but Firebase's .m/.h files are appearing in the HTML report and being considered in coverage percentage.

This is what's in my Fastfile:
`xcov(workspace: "MyApp.xcworkspace", scheme: "MyApp", output_directory: "fastlane/xcov_output", only_project_targets: true)`

All the other pods are being ignored like they've aways been before.

Any help? Thx

[2018-06-09 15:01] nakiostudio commented on #127
Hi again @swhitty 👋

Sorry for the delay getting this fixed. I've just released xcov `1.4.3` that tackles this issue.

[2018-06-10 09:57] #127 closed

[2018-06-10 09:58] nakiostudio commented on #121
Closing for lack of activity.

[2018-06-10 09:58] #121 closed

[2018-06-15 13:29] JLau-cy opened #130 "xcov 1.4.3 total percentage does not respect ignored files"
In xcov 1.4.3 files that are ignored in the .xcovignore file is included in the overall percentage calculation.

Tested this on 1.4.2 and it is working as expected.

[2018-06-19 15:31] wolesolana commented on #130
I'm experiencing a similar issue since upgrading to `1.4.3`

[2018-06-22 18:41] sandeee1928 opened #131 "The Percentage code coverage is more as compare to Xcode coverage percentage."
I'm using `xcov` with `fastlane` but the percentage coverage showing is more as compare to Xcode coverage percentage.

`xcov version: 1.4.2`

![screen shot 2018-06-22 at 11 34 13 am](https://user-images.githubusercontent.com/2527526/41793482-15b92680-7611-11e8-934d-bb56b35e177b.png)
<img width="369" alt="screen shot 2018-06-22 at 11 35 01 am" src="https://user-images.githubusercontent.com/2527526/

[2018-06-23 20:11] nakiostudio commented on #131
Hi @sandeee1928

This issue was fixed recently. Upgrade to ‘1.4.3’ and you should get the same coverage as Xcode reports.

[2018-06-24 12:28] #131 closed

[2018-07-06 08:40] gustanas commented on #120
@yashwanth777 Interested in that too

[2018-07-07 05:45] heidiproske opened #133 "A source folder with the same prefix as an ignored folder incorrectly gets excluded from code coverage"
### Issue
When I have a project where my source folder contains subfolders that have the same prefix (for example **Dogs**):
[code]

And I define my `.xcovignore` to exclude
[code]

Then the total coverage percentage is excluding all source files in both `Dogs` and `DogsHouses`.

But I only expect Labrador.swift to be ignored and expect to see coverage reported for `LargeHouse.swift` and `JumboHou

[2018-07-17 13:31] ornithocoder opened #134 "Failed to load command: xcov"
Hi,

The project I work on uses Rake tasks to automate common tasks. For generating code coverage, the method is:

[code]

The method simply runs `xcov` using `bundler`.

When the report fails because it didn't reach the minimum coverage percentage, `xcov` fails suggestion to create a `fastlane/fastlane` issue.

[code]

I would expect `bundle exec xcov` to exit with an error code, but without prin

[2018-07-31 15:29] aaroncrespo opened #135 "New coverage path for coverage data with Xcode 10"
Looks like the output path of Xcode coverage tool changed.
Xcode9  : `DerivedData/{build}/Logs/Test/{testpass}.xcovreport`
Xcode10 : `DerivedData/{build}/Logs/Test/{testpass}.xcresult/1_Test/action.xcovreport`

[2018-08-03 20:03] msebgf commented on #135
Is there any workaround to generate the report?

[2018-08-03 20:22] aaroncrespo commented on #135
something quick and dirty like #136 might work

[2018-08-09 10:07] TheSooth commented on #130
the same with 1.4.3

[2018-08-27 03:13] rajeshchilukuri commented on #111
even though  I am not using legacy_support its giving me error Unable to find any .xccoverage file.

[2018-08-29 17:13] waitbutY commented on #130
same for me, on 1.4.3

[2018-08-31 20:30] mixtly87 commented on #130
Is there any chance this will get fixed soon?

[2018-09-11 04:34] wtyeh commented on #107
@nakiostudio I'm facing the same issue, any plan to open the PR? Thanks.

[2018-09-12 12:07] nakiostudio commented on #135
Fixed thanks to @aaroncrespo.

[2018-09-12 12:07] #135 closed

[2018-09-14 00:35] RodBrown1988 commented on #130
This issue appears to have been introduced by #129.

[2018-09-14 00:36] RodBrown1988 commented on #130
This issue appears to have been introduced by #129.

@nakiostudio this is affecting everyone who has to upgrade to Xcode 10. Could you take look at this?

[2018-09-14 14:09] nakiostudio commented on #130
Hi all 👋

Thank you for your patience here, I hit a dead end trying to fix this issue.

In order to make the code coverage reported by xcov match the one reported by Xcode I need to use the target coverage specified in the `. xccovreport` file (which is based on lines coverage). If xcov computes the coverage itself (so ignored files can be ignored) with function coverage then the resulting coverag

[2018-09-14 16:16] mixtly87 commented on #130
Keep ignored files support.

On Fri, Sep 14, 2018 at 16:09 Carlos Vidal <notifications@github.com> wrote:

--
Best regards,
Marko Čičak

[2018-09-18 18:53] #128 closed

[2018-09-19 13:09] kasperhansen commented on #130
Keep ignored files support. This is our main reason for using xcov.

[2018-09-25 13:02] dai-cb commented on #107
+1

[2018-10-05 15:30] zinyakov commented on #130
Keep ignored files support, or provide two total numbers at one time (one from xcode, one from xcov)

[2018-10-11 10:54] deanWombourne commented on #135
I'm confused, sorry :) I've got this issue, but the latest xcov gem (version 1.3.1) but still can't get it to run?

[2018-10-11 16:41] coldmint commented on #130
Keep ignored files support

[2018-10-15 04:13] npu3pak commented on #130
Keep ignored files support please

[2018-10-15 10:06] tiwsetd commented on #130
Please keep ignored files support

Is there any workaround in place for getting coverage numbers that respect the ignored files at the moment?

[2018-10-15 11:40] CharlesVu commented on #135
@deanWombourne The latest version of Xcov is 1.5.0

[2018-10-23 14:07] deanWombourne commented on #135
How embarrassing, not sure why my `bundle update` wasn't, suspect maybe underlying ruby version maybe? Or maybe just I did something wrong, which is reasonably likely. Obviously, this now works for me :)

[2018-10-23 17:33] oriyentel opened #138 "IDEFoundation could not be loaded"
Updated to `v1.5.0` and am getting an `IDEFoundation could not be loaded` with `Exit status: 66`.

<img width="1697" alt="screen shot 2018-10-23 at 12 32 22 pm" src="https://user-images.githubusercontent.com/4296435/47379167-c363df00-d6bf-11e8-9552-96c133151dd2.png">

[2018-10-23 18:06] oriyentel commented on #138
<img width="1697" alt="screen shot 2018-10-23 at 12 32 22 pm" src="https://user-images.githubusercontent.com/4296435/47381005-6880b680-d6c4-11e8-94ac-b33101871d0b.png">

[2018-10-29 15:25] mothule commented on #130
Keep ignored files support

[2018-10-30 08:08] vishwesh447 commented on #130
Please keep the ignored files support.

[2018-11-07 11:46] hefgi commented on #130
Hey guys, this is still present in 1.5.0, can we expect having that fix ?

[2018-11-09 03:39] gibachan commented on #130
Please keep ignored files support.
Any updates?

[2018-11-09 03:42] RodBrown1988 commented on #130
@nakiostudio seems people are pretty set on supporting ignored files. Do you have any updates for this?

[2018-11-09 06:02] nakiostudio commented on #130
Thank you all for the feedback and patience. I’ve been away without access to a laptop for quite some time. I plan to tackle this next week preserving ignored files support and using the appropriate way of calculating coverage depending on the ignored files setting. I will keep you all posted.

[2018-11-16 09:51] yishuiliunian opened #139 "Not work with XCode 10"
[code]

[2018-11-25 22:05] quintuschen commented on #139
It works for me well on Xcode 10. Have you run the tests (`fastlane scan`) before you run `xcov`?

[2018-11-25 22:29] quintuschen commented on #134
I have the same problem :(

[2018-11-28 14:40] NarasimhaiahKolli commented on #138
Same issue here. please someone provide solution

[2018-11-28 18:10] thelvis4 commented on #138
Looking at the screenshot above, I think `xcov-core` doesn't handle paths with spaces properly. Try renaming Xcode or the directory that contains spaces.

[2018-11-29 00:23] eMdOS opened #140 "v1.5.0 discards ignored files when generating the xcov Coverage Report"
When generating the **Coverage Report** the discarded files are ignored. As result, the final Code Coverage (%) is like no ignoring files.

[code]

i.e.:

[code]

... where `FileOne.swift` is the ignored file, and having

[code]

The `xcov` lane fails because the Code Coverage is 38.71 when it should be 100.0 because of the ignored files.

[2018-11-30 20:35] oriyentel commented on #138
confirmed! renaming the Xcode application to a title that contains a space breaks xcov. oddly enough, trying to rename from `Xcode 10.1` to `Xcode` broke the app entirely, couldn't even open it up. had to delete, redownload, and install again. but this cleared up my issue. thanks @thelvis4

[2018-11-30 20:44] oriyentel commented on #140
I am also seeing this behavior on `1.5.0`. xcov is reporting the exact same coverage that Xcode is reporting.

[2018-12-03 15:28] Narsail opened #141 "When used on n targets within one danger file, the first target is repeated n-1 times."
Dangerfile:

[code]

Output:
[code]

Any ideas why this might happen?

[2018-12-04 14:17] khomchyk commented on #130
Hello!
Any updates?

[2018-12-06 11:56] kunass2 commented on #130
Any updates?

[2018-12-10 13:38] Narsail commented on #141
hello. Anyone here? :D

[2018-12-13 16:49] narlei commented on #140
Same problem here!

[2018-12-13 17:08] narlei commented on #130
Waiting anxiously! 👍

[2018-12-20 12:19] DmitrijKotsur commented on #139
Solution for me:
`    xcov(
      workspace: "Sample.xcworkspace",
      scheme: "Sample",
      only_project_targets: true,
      json_report: true,
      output_directory: "./fastlane/xcov_output",
      **derived_data_path: "/Users/distiller/project/ddata/"**
    )`

and in your test job:
`fastlane scan **--derived_data_path="./ddata" --code_coverage**`

[2018-12-29 20:38] mcicak commented on #130
Just updated to latest 1.5.0 but the issue is still present. Any info on when this will be covered? Thanks!

[2019-01-04 20:23] jineshqa opened #142 "Does not work when output folder is set on scan"
Hi there,

I am currently using [test_center](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center) plugin to run my tests, It is like an extension of scan. Both the tools allow users to specify output directory. When a output directory is specified the coverage files are also stored under the same but [this line of code](https://github.com/nakiostudio/xcov/blob/ce05d514a0c3156f844cc1cd

[2019-01-09 16:37] greenzeal commented on #120
@yashwanth777 please share info :)

@gustanas ;)

[2019-01-13 16:18] clausjoergensen commented on #130
There's several open issues for this problem now. Looks like it regressed in 1.4.3 and haven't been fixed since? That's pretty bad, since the reporting is effectively null and void by including the ignored files.

[2019-01-14 06:43] npu3pak commented on #130
I am using Slather as temporary solution. It works with XCode 10.1

[2019-01-16 11:44] rhwood opened #143 "Does not appear to be uploading correct results to coveralls"
xcov 1.5.0 does not appear to be providing correct information to coveralls.

Note that for EasyPeasy, [travis-ci](https://travis-ci.org/nakiostudio/EasyPeasy#L1272) shows ~97% coverage, but [Coveralls](https://coveralls.io/github/nakiostudio/EasyPeasy) shows 0%

I'm seeing the same on a project I'm starting to write unit tests for.

[2019-01-24 05:46] WL2012 commented on #102
hi, when I excute the command in terminal, It work!, But I meet the same issue in Jenkins with you, can you help me How did you work at last?

[2019-01-30 19:10] gbero commented on #142
hey @jineshqa I'm facing the same issue, did you manage to solve it ?

[2019-01-30 19:18] jineshqa commented on #142
@gbero Nope, let me know if you solve it.

[2019-01-30 19:57] gbero commented on #142
@nakiostudio Could you help on this issue ?

this is where the xccovreport, is outputted:

https://docs.fastlane.tools/actions/setup_jenkins/ --> default output to "/.output" and default derived data to "/.derivedData"

[code]

[2019-02-02 20:32] Tornquist commented on #143
I'm seeing the same issue.

[2019-02-07 11:41] HellGhost opened #145 "xcov ruby 2.6.0 issue with %"
10:40:48 ArgumentError: [!] incomplete format specifier; use %% (double %) instead
10:40:48   /Users/jenkins/fastlane_gem/ruby/2.6.0/gems/xcov-1.5.0/lib/xcov/manager.rb:129:in `%'
10:40:48   /Users/jenkins/fastlane_gem/ruby/2.6.0/gems/xcov-1.5.0/lib/xcov/manager.rb:129:in `validate_report'
10:40:48   /Users/jenkins/fastlane_gem/ruby/2.6.0/gems/xcov-1.5.0/lib/xcov/manager.rb:32:in `run'
10:40:48

[2019-02-22 10:20] kyrylhorbushko commented on #130
any updates?

[2019-02-22 16:11] AhmedEid opened #147 "Fastlane Swift xcov action broken"
### New Issue Checklist
* [x]  Updated fastlane to the latest version
* [x]  I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
* [x]  I read [docs.fastlane.tools](https://docs.fastlane.tools)
* [x]  I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
When running fastlane swift and invoking

[2019-03-06 09:20] alexito4 commented on #140
I'm also seeing this same behaviour.
Is interesting to note that the files don't show up on the PR summary, so the individual files changed on the PR are ignored and not reported on the summary, BUT the % of coverage stays unaffected and reports the % as is no files were ignored.

[2019-03-06 09:26] alexito4 commented on #130
Is interesting to note that when using
https://github.com/nakiostudio/danger-xcov the files reported on the PR are correctly ignore, but the % is still wrong.

[2019-03-15 13:06] le-cardinal opened #148 "xcov does not generate any report file"
Hi,

i've installed xcov 1.5.0 but unfortunately it won't work on my project. Since i'm quite new on iOS development, let me try to describe you the steps i did.
i'm running tests from xcode 10 and getting some code coverage report within Xcode. The corresponding file .xcresult is located /Users/myname/Library/Developer/Xcode/DerivedData/product_name_xxxx/Logs/Test folder. I would like to use xcov

[2019-03-15 20:22] cmarchal opened #149 "xcov doesn't find my xccovreport file"
Hi,
I run my tests through Fastlane and I then want to use xcov to have a nice code coverage report. I specify my DerivedData file through the _derived_data_path_ argument. I tried many different paths until the _xccovreport_ file but I always have a `Unable to find any .xccoverage file` error.
The `Gather code coverage` setting is enabled, the _xccovreport_ file is existing but whatever path I se

[2019-03-18 14:46] cmarchal commented on #149
@nakiostudio I've just created a PR to add possibility to use direct path to xccoverage/xccovreport file.
Can you have a look at the PR ? https://github.com/nakiostudio/xcov/pull/150

Thanks !

[2019-03-18 15:24] cmarchal commented on #148
Hi Daniel,

Does the index.html generated file contain classes from your project when you expand it ? Or is it totally empty ?
Moreover, can you show your command line and your ignored_files file ?

[2019-03-18 15:59] le-cardinal commented on #148
hi ,

the command line i use is
`/Users/daniel/.gem/ruby/2.3.0/bin/xcov -s pdt-external-Nominal -p ./pdt_sdk.xcodeproj/ -o xcov_report`

An index.html is generated under xcov_report folder with following content
[code]

i didn't yet try the --ignore_file_path option since nothing is generated.

[2019-03-18 17:50] cmarchal commented on #148
It seems good to me. Are you sure the scheme is well-named ? No typo or case error ?
Do you run your tests right before xcov ?

[2019-03-19 08:34] le-cardinal commented on #148
Hi, yes the scheme is correct. Tests have been run on real device from Xcode. Right now as i said, i'm able to get the report in Xcode but it contains some files i need to remove from coverage data.

[2019-03-19 12:30] cmarchal commented on #148
Try running tests on simulator and let me know if it works.
By the way, the ignored files feature seems not to work anymore since 1.4.3 according to other open issues.

[2019-03-19 13:03] le-cardinal commented on #148
the fact is that tests are failing on simulator because some of my dependencies are only working on real device so far :(
But if the ignored files feature is not working anymore, i'm not going to spend more time on that.
Anyway, thanks for your  help

[2019-03-20 08:22] ascentman commented on #130
...also wait for updates. @nakiostudio keep us informed about any progress here:) Thanks!

[2019-03-26 15:35] raafaelima commented on #145
Hi,

I'm having the same problem on my project, any news about it?

[2019-04-04 13:05] narlei commented on #130
This PR solve the problem!
https://github.com/tasaiii725/xcov

[2019-04-04 13:27] clausjoergensen commented on #130
@narlei You're referring to #130 ?

[2019-04-08 11:28] narlei commented on #130
@clausjoergensen yes, I'm using this PR as xcov lib:
Gemfile:
`gem 'xcov', git: 'https://github.com/tasaiii725/xcov'`

And now ignored coverage files are working.

[2019-04-29 16:02] amelendezSGY commented on #142
One (lame) way I've found to work around this is simply to copy my resulting .xccovreport from its known output location from Scan (that "3_Test" folder) to a stubbed out version of the location that xcov is expecting (e.g. <my output folder>/Logs/Test/). xcov seems to pick up all the right coverage data with that hack in place.

[2019-05-07 15:19] NikitaZamalyutdinov opened #151 "Parameter '--derived_data_path' doesn't actual applied"
We have _build / run / generate coverage reports_ on different physical machines. We use _jenkins_ as CI server and faced with unclear behavior of parameter `--derived_data_path`.
We expect that when there are sources and derived data within jenkins workspace and we run command `xcov -j . -s <scheme> -o <out_dir>` finally we got well generated html report.
There is prepared workspace structure:
[c

[2019-05-16 23:30] chrisballinger opened #152 "1.5.1 Release?"
I'm interested in using the new `xccov_file_direct_path` flag but it seems the functionality is only available on the master branch. Is there a plan for publishing the next release to RubyGems?

Cheers!

[2019-05-21 11:58] smamczak commented on #140
Same here

[2019-05-23 09:05] cianiandreadev commented on #152
+1

[2019-05-31 07:34] cianiandreadev commented on #152
@nakiostudio I saw that latest updated (1.5) is being released last year. Would be possible to have this minor release? In my team we are all looking forward for the #150 :)

[2019-05-31 21:21] mokshkhurana commented on #140
Same here! Any update on this?

[2019-06-03 09:58] nakiostudio commented on #152
Thanks for your patience. 1.5.1 has been pushed now.

[2019-06-03 09:58] #152 closed

[2019-09-18 00:01] abotkin-cpi opened #156 "xcov should allow passing xcresult path"
Similar to the work that was done to allow for passing the code coverage file directly #150, it would be nice if xcov would allow for passing the xcresult path directly.  In some cloud CI systems, users are given the path to the xcresult, but it is not kept within the derived data folder and is instead in some temporary directory.  If xcov could take the path to the xcresult, it could avoid having

[2019-09-18 00:13] joshdholtz commented on #156
@abotkin-cpi You can with the `:xccov_file_direct_path` option 😊 https://github.com/fastlane-community/xcov/blob/master/lib/xcov/options.rb#L76-L86

[2019-09-18 00:18] abotkin-cpi commented on #156
Ah, you're right.  I was looking at the description from xcov 1.5.1 still which didn't mention xcresult.  Closing.

[2019-09-18 00:18] #156 closed

[2019-09-18 11:08] narlei commented on #130
Version 1.6.0 still have the problem.

[2019-09-18 11:56] joshdholtz commented on #130
Will get this fixed in the next release! 💪

[2019-10-01 13:15] FabienLydoire opened #157 "Xcode 11 code coverage reports are not exported in ouput directory"
Hello fastlane community,

Although Xcode11 xcresult support has been added in PR #155, this does not restore the code coverage features we had using Xcode 10, especially when using multiple schemes.

With Xcode 10, passing `code_coverage:true` to `Scan` resulted in `action.xccovreport` and `action.xccovarchive` files in the test results bundle.

With Xcode 11, the code coverage report files are n

[2019-10-01 18:29] joshdholtz commented on #157
@FabienLydoire Hey, thanks for the detailed issue 😊 I _thhiinnnkkkkk_ I found out how to get an `xccovarchive` but I'm honestly not sure what the contents of the file is supposed to look like 🙃 Do you have an example of one and/or a link to documentation what its supposed to contain?

[2019-10-01 21:38] FabienLydoire commented on #157
Hi @joshdholtz, I would be glad to test your branch.
Will you output the 2 files of coverage report in the output folder ?

[2019-10-01 21:51] joshdholtz commented on #157
@FabienLydoire You would like them in the output folder or in the same directory as the `xcresult`? I would probably personally prefer the output folder if that works for you 😊

[2019-10-01 21:58] joshdholtz commented on #157
@FabienLydoire Here it is! ☝️

[2019-10-03 14:47] FabienLydoire commented on #157
Thanks @joshdholtz
I did launch `scan` with `code_coverage:true`.
I would like to use `xcov` to get the `.xccovarchive` and `.xccovreport` from the `.xcresult` bundle, so I launched `bundle exec xcov -f  <path to .xcresult bundle` and I got an error
[code]
1. Am I using `xcov` as I am supposed to ?
2. How to I get the `.xccovarchive` and `.xccovreport` from the `.xcresult` bundle ?
3. Do I have to

[2019-10-10 15:14] narlei commented on #157
This error here:
[code]

[2019-10-21 11:05] FabienLydoire commented on #157
👋🏻 @joshdholtz !
I understand it's a low priority item wrt. the rest of fastlane code, but is there a chance you can fix this PR ? I'm far from being a ruby expert myself.

[2019-10-21 11:06] FabienLydoire commented on #157
👋🏻 @joshdholtz !
I understand it's a low priority item wrt. the rest of fastlane code, but is there a chance you can fix this PR ? I'm far from being a ruby expert myself.

[2019-10-23 22:09] giovas17 commented on #157
I have exactly the same issue, Do you have any update in this??

[2019-10-24 06:56] chinnasamymca opened #159 "Xcode 11 issue - Xcov exited with-out reason."
+-----------------------------+-----------------------------------------------------------------------------------------------------------+
|                                                         Summary for xcov 1.6.0                                                          |
+-----------------------------+-----------------------------------------------------------------------------------------

[2019-10-24 10:04] FabienLydoire commented on #157
@cristianbanarescu The PR is done but it crashes. The PR needs to be fixed and I don't think @joshdholtz has time at the moment.

[2019-10-24 10:06] cristianbanarescu opened #160 "xcov .xcresult file and cobertura xml"
Hi all! I am using xcov in order to get my code coverage results and put them inside a JSON file. Then i use a Swift script to generate an XML (from the JSON ) for Cobertura plugin for an Azure Dev Ops pipeline. The problem is that my XML format is not recognised by the pipeline plugin 'Publish code coverage'.

I am using xcov like this:

xcrun xcov -w ../MyProject.xcworkspace -s MyTarget -j ../..

[2019-10-24 14:34] cristianbanarescu commented on #157
Ok, @FabienLydoire ! Thank you for your response !

[2019-10-24 14:39] joshdholtz commented on #157
Heyyy! Sorry about that! I will take a look at today to hopefully get it fixed up 💪

[2019-10-24 14:42] joshdholtz commented on #159
@chinnasamymca Can you try running with `--verbose` at the end of you command? That _should_ hopefully give us some more info 🤞

[2019-10-24 15:51] chinnasamymca commented on #159
i got below logs.

INFO [2019-10-24 11:49:26.85]: $ /Users/administrator/.gem/gems/xcov-1.6.0/lib/xcov-core/bin/xcov-core -s /var/folders/jh/tlzjnx212c1fxmhz7flhmspc0000gn/T/d20191024-54942-1xomq1e/action_0.xccovreport -o fastlane/xcov/tmp/report.json20191024-54942-v96hjk --ide-foundation-path /Applications/Xcode.app/Contents/Developer/../Frameworks/IDEFoundation.framework/Versions/A/IDEFoundation

[2019-10-24 16:35] colinhumber commented on #159
Same issue here. Let me know if I can provide any more info. My stack trace is the same as above, failing on `xcov-1.6.0/lib/xcov-core.rb:30`

[2019-10-24 16:45] chinnasamymca commented on #159
Note: This issue happens after upgraded to mac os catalina and Xcode 11

[2019-10-25 08:56] slc1973 commented on #159
I can confirm it. Hope, bugfix is coming soon...

[2019-10-25 12:14] NikitaZamalyutdinov commented on #159
Reproduced for me too on Catalina. I've tried to downgrade to 1.5.0 (before Xcode 11 xcresult support added), but it's still failing with the same stacktrace.

[2019-10-29 16:48] dannypier commented on #159
Same experience here with the stack trace above. Catalina and XCode 11.1. Happy to provide more info if possible.

[2019-10-30 00:58] spencerwhyte commented on #159
Same experience here. The problem occurred when upgrading to Catalina.

The bug is in xcov-core and has to do with relative paths. There is a pull request open here which fixes the problem: https://github.com/fastlane-community/xcov-core/pull/15

[2019-10-30 12:59] #159 closed

[2019-10-30 13:47] joshdholtz commented on #159
There will be a new release for this out in a bit 😊

[2019-10-30 13:51] #157 closed

[2019-10-30 14:11] joshdholtz commented on #159
This has been released in version `1.7.0` 💪

[2019-10-30 14:45] colinhumber commented on #159
Works like a charm. Thanks @joshdholtz and everyone else who work on the fix!

[2019-10-30 20:06] dannypier commented on #130
Version 1.7.0 still exhibits the issue.

[2019-10-31 17:58] wolffan commented on #149
Still an issue for me on Xcode 11

[2019-11-01 20:33] brandtdaniels opened #162 "xcov command line output percentage"
Is there an easy way to grab the percentage output from xcov from the command line? like "MyApp.app - 35%"

[2019-11-04 12:32] FabienLydoire opened #163 "Crash when using output directory containing spaces"
Hello Team !

I wanted to reproduce what we had with Xcode 10, meaning the code coverage report in the test result bundle.
I have spaces in my Xcode schemes names.
Unfortunately, when calling xcov from fastlane, passing a space in the output directory path crashes the command.

**Example**
[code]
I can work around this, but I think that's a bug worth being reported.

[2019-11-11 09:33] joeboyscout04 commented on #130
Was anyone able to test the PR mentioned above? Looks like it's still open https://github.com/fastlane-community/xcov/pull/144

[2019-11-12 07:52] joeboyscout04 commented on #143
Any progress on this? Have the same issue.

[2019-11-28 14:40] gyulavoros commented on #143
We have bumped into the same problem.

Slather doesn't seem to work with Xcode 11 and the new `xcresult` format (still working based on `Coverage.profdata`).

Xcov picks up `xcresult` files properly, but publishes 0% to Coveralls.

[2019-12-10 15:35] colinhumber opened #165 "xcov 1.7.0 reports incorrect coverage numbers"
When I run my tests in Xcode 11.2.1, my main app target's coverage numbers are 12.8%. However, when xcov is run the coverage number is 7.4%. I'm not sure if this is configured incorrectly but I'm not sure where the 5% gap is coming from. I don't have any ignored files either.

Here is my test lane that runs the tests and generates the xcov report.

[code]

[2019-12-13 21:31] colinhumber commented on #165
The numbers are matching up now, with Xcode's coverage numbers being lower and matching what xcov is generating. At a bit of a loss, but everything seems to be working now...

[2019-12-13 21:31] #165 closed

[2019-12-19 15:13] sallyahmed commented on #140
same :(

[2019-12-25 18:19] nevillco opened #166 "Inconsistent Order with xcov 1.7.0"
The output in markdown format lists files in different orders with each run. This means there is always a diff, even if no coverage numbers have changed. I saw this issue was resolved with 1.2.0 so maybe it's a regression, or something to do with my use case?

Gemfile.lock relevant entry:
[code]

I'm running this command directly (several more `include_targets` omitted for brevity):
[code]

Everyt

[2020-01-02 23:40] Speakus commented on #120
it would be nice to have option for cobertura xml as result https://github.com/fastlane-community/xcov/issues/160 to allow to use https://plugins.jenkins.io/cobertura

or find some other plugin to publish json generated with option `json_report: true`

[2020-01-06 09:27] michaelyao-eb opened #167 "Ignore file not working"
I add the ignore file in the root directory where Podile sits. And also configure the ignore_file_path: "./. xcovignore". The command line shows that it's ignoring the files I specified for xcov. But the final percentage number is not raising.
![image](https://user-images.githubusercontent.com/58162752/71808725-82c86980-30a9-11ea-92fe-05b79b1bc04f.png)
Any one has any idea?\

BTW I want to raise a

[2020-01-16 10:35] fahmisdk6 opened #168 "Average coverage result calculated by lines"
Right now, if our project have multiple modules, the coverage results will be the average of all modules without counting the real lines. Example : Module A 50%, Module B 70%, the average will be 60% regardless of how big Module A compared to Module B is. While the actual coverage may be different if Module A contains more code lines than module B.

So, how can we get average coverage result that

[2020-01-17 22:39] chrisballinger opened #169 "Cannot find xccoverage when using xctestplan"
I migrated some tests to use [xctestplan](https://developer.apple.com/videos/play/wwdc2019/413/) and now the generated xcresult bundle doesn't contain any xccovreport files. For an example project with this issue, try https://github.com/Rightpoint/BonMot/tree/skip-flakey-tests and run `bundle exec fastlane coverage_all`.

Here's the end result bundle which just has a bunch of `data.0` and `ref.0`

[2020-01-27 06:19] Zeta611 commented on #130
I'm using this (https://github.com/aksvenk/xcov/tree/coverage-percentage-fix) via:
[code]
and it works great!

[2020-01-27 11:43] chinnasamymca commented on #130
I too tested, Works fine for me. @Zeta611 Can you please create MR to the main repo.

[2020-01-27 17:04] Zeta611 commented on #130
@chinnasamymca Here it is: #170 :)

[2020-01-29 05:04] joshdholtz commented on #130
Fixed by https://github.com/fastlane-community/xcov/pull/170

[2020-01-29 05:04] #130 closed

[2020-01-29 05:25] joshdholtz commented on #130
Released in `v1.7.1` 🚀

[2020-02-07 21:45] mcicak opened #172 "xcov reports 0.00% coverage for ignored iOS extension targets"
I have added an entry to ignore iOS extensions:
`- MyApp/Extensions`

and indeed xcov no longer reports any class under MyShareExtension.appex group.
However, even though there is no single class to be tested in appex, it reports 0.00% coverage for the entire component and thus reports overall test coverage to be 50% (assuming my main app has 100% coverage).

Can this be fixed or is there a way to

[2020-02-17 22:04] iMacHumphries commented on #168
:+1:

[2020-02-17 22:04] Zanchee commented on #168
👍

[2020-02-17 22:05] mcanidae commented on #168
👍🏼

[2020-02-20 06:09] Amishabigscal commented on #133
hello @heidiproske can you tell me how to create . xcovignore file in project ?

[2020-03-26 13:59] gauravdalal commented on #102
I'm a newbie and have few questions.
Q1: Is this .xcovignore an file extension or is it a ruby file, since @thelvis4  suggested to run irb command. Not quite sure about the file type?

Q2: Where to put this file on directory level ? Fastlane folder is not hidden and existing in "code" folder in my repo workspace and this .xcovignore file is inside that fastlane folder. Why seems to be not working

[2020-03-27 01:40] wolesolana commented on #102
Hi @gauravdalal. I haven't used `xcov` in a while, but unless something has changed drastically, here are my answers to your questions, AFAIK:

Q1: .`xcovignore` is a plain text file
Q2: I put the `.xcovignore` file at the top level of the `fastlane` folder
Q3: I'm not sure about this.

You could check the [README](https://github.com/fastlane-community/xcov) for the latest documentation on how to

[2020-04-07 08:39] imaginaris opened #174 "Total coverage calculation method is not correct"
Example:
Source with 3 files:
File 1 - 1 executable line, 1 covered line
File 2 - 1000000 executable lines, 500000 covered lines
File 3 - 1 executable line, 1 covered line

Expected total coverage: (500000 + 1 + 1) / (1000000 + 1 + 1) = ~50%
Actual total coverage: (500000 / 1000000 + 1 / 1 + 1 / 1) / 3 = ~83.33%

Here is the line that does the calculation:
https://github.com/fastlane-community/xco

[2020-04-08 01:52] imaginaris commented on #174
Ok so I couldn't wait (lol)
Here are the PRs:
https://github.com/fastlane-community/xcov/pull/175
https://github.com/fastlane-community/xcov-core/pull/17

[2020-04-09 17:00] asimparvez commented on #174
Hey @imaginaris , for me there is a difference between the coverage results reported when I run the results in XCode, from what xcov reports.
17.4% in XCode coverage
19% using xcov
could this be the reason?
Have you checked the XCode coverage calculation? Is it different?

[2020-04-10 00:06] imaginaris commented on #174
Hey @asimparvez. Yes that was one of the reasons. In my case coverage from Xcode was around 15% lower that xcov's. The number of files and their respective coverage were the same.

[2020-04-21 18:48] gobetti opened #176 "Final coverage takes into account only 1 run destination"
(this might be an issue on xcresult instead/as well, sorry I don't know enough about it yet)

I'm on Xcode 11.4.1 and running my tests via fastlane on 2 destinations, so that my code is covered on both iOS 12 & iOS 13.

If I use Apple's `xcrun xccov` over the generated xcresult file, I can see the covered lines number increasing from 1 to 2 destinations, meaning Apple's tool is merging the 2 resul

[2020-04-21 19:41] gobetti commented on #176
Here's something that would work as a middle step between obtaining the xccovreports and generating the report:
[code]
now, if I specify the new file `out.xccovreport` in `xccov_file_direct_path`, the reported coverage takes into account the 2 destinations

[2020-04-26 13:47] #174 closed

[2020-04-27 23:01] ahmedAlmasri commented on #172
+1 same issue

[2020-05-15 10:46] stolkachov opened #181 "Print average coverage percentage in console output"
I'm working on a project separated into modules. Each module has its own unit tests. Currently, the output in console looks like this:
<img width="301" alt="Screenshot 2020-05-15 at 12 39 11" src="https://user-images.githubusercontent.com/7085715/82042130-a891fa80-96a9-11ea-90ba-7a9b25a02c66.png">

I am curious if it's possible to print out the average coverage percentage for all included targets.

[2020-05-27 19:20] TheMetalCode commented on #168
+1000

The overall coverage number should be based on line count and _not_ a simple mean of the module-specific coverage numbers. The way it's being calculated now simply does not reflect reality and it's hard for me to ask iOS developers to make code coverage increase goals based on that number.

As a real extreme example, I have a project where we just added new frameworks where the coverage is

[2020-06-04 21:36] dogo commented on #107
Any update on this?

[2020-06-11 10:42] bahlo commented on #143
Having the same issue

[2020-07-26 04:40] sanju-naik commented on #142
Any update from fastlane or fastlane-community to fix this? I am also facing same issue.

[2020-08-18 19:43] Jaff opened #183 "Unable to run xcov in fastlane with Xcode 11.3"
Jenkins is running the job on MacOS 11.5 agent, Xcode 11.3.1, fastlane 2.156.1, xcov 1.7.3. I know the scheme has "Generate Code Coverage" set, and prior to the xcov invocation, I run scan with code_coverage: true. The build produces "Reports/Proton.xcresult" bundle, so how do I get that to xcov? My xcov settings are:
[code]

[2020-08-31 15:19] Jaff commented on #183
pilot error

[2020-08-31 15:19] #183 closed

[2020-09-23 05:55] jackmumbai opened #184 "How can we exclude Pods_Demo.framework & libQuick.a in report"
Hello i am using this cool tool.
But on my report it shows `libQuick.a, libPods-CustomUnitTest.a, libNimble.a, Pods_Demo.framework `.. i dont want to include them on my Final report.

I have updated `.xcovignore` but didn't works.
[code]

[2020-09-24 16:23] mininny commented on #184
Have you added `ignore_file_path` to the `xcov` command? It should look like this:
[code]

[2020-09-24 17:20] CorbinMontague commented on #176
[This PR](https://github.com/fastlane-community/xcov/pull/173) fixes this issue for me. @gobetti would it be possible for you or another xcov contributor to review that PR and help get it into a future release?

[2020-09-29 02:51] lixiaoyu opened #186 "NoMethodError: [!] undefined method `targets' for {:build_errors=>1}:Hash"

[2020-10-07 14:56] denysowova opened #187 ""Error occured while exporting xccovreport from xcresult" when using Xcode 11.7"
Hello. I'm using xcov locally to test it with our project and plan to use it later in our Bitrise pipeline. It works well with Xcode 12, but when switching the command line tools to Xcode 11.7, the following error is thrown:

[code]

Any possible fix on that? Thanks in advance.

[2020-10-07 15:53] joshdholtz commented on #187
This looks like a similar issue to https://github.com/fastlane-community/danger-xcov/issues/33

I’ll add this to my queue to look into! Probably won’t be able to get to it myself this week 😔

[2020-10-08 07:55] denysowova commented on #187
Thank you, @joshdholtz

[2020-10-11 04:05] XiaoxiaYao commented on #187
It's weird. I am using Xcode 12.2. Facing the same issue. Will wait for the fix. Thank you @joshdholtz  in advance.

[2020-10-19 16:13] martin-key commented on #143
I am getting the same issue.

[2020-11-10 03:23] brandtdaniels commented on #162
bump

[2020-11-17 19:31] escakot commented on #143
Same here. Also getting the same issue. Anyone got this working?

[2020-11-18 07:32] escakot commented on #162
Not sure if this is what you're looking for. But this posts the percentage output as a PR comment.
https://github.com/fastlane-community/danger-xcov

[2020-12-09 08:37] raven commented on #108
This was resolved by https://github.com/fastlane-community/xcov/pull/150

[2020-12-09 08:37] #108 closed

[2020-12-22 11:55] weibel commented on #187
xcov 1.7.5, Xcode 12.2,  Command example:

On Xcode 12.2 xcov would complain with

In manager.rb I replaced lines 225 and 226 with
[code]
Then it would process. However prior to this I had already copied a number of .xcovreports and .xcovarchives into the directory for later processing which xcov now seemed to pick up e.g. both with

and

[2021-01-22 08:34] AleMaMi opened #189 "xcov action fails with error Could not find option 'skip_package_dependencies_resolution' in the list of available options fastlane 2.172.0"
After update fastlane from 2.171.0 to 2.172.0 xcov does not work anymore, it raises error
[code]

Reproduction: run ` bundle exec fastlane run xcov` with fastlane 2.172.0 update.

[2021-01-22 11:14] jsaadep commented on #189
I am having the same error, I tried reverting fastlane to previous version but it does not resolve it.
It seems an issue with `scan`

[2021-01-22 11:36] vyasanirudh commented on #189
using `2.171.0` solved for me though.

[2021-01-22 12:20] jsaadep commented on #189
Yes, it seems it did after all, it was issue in cache.

[2021-01-22 17:20] umarchohan commented on #189
I am having the same issue.

[2021-01-25 16:03] stherold commented on #189
@jsaadep do you mean your CI cache?

[2021-01-25 18:24] stherold commented on #189
Having the same issue :(

[2021-01-26 12:03] ainame commented on #189
I figured out the root cause https://github.com/fastlane/fastlane/pull/17916
 I will work on resolving this issue within fastlane/fastlane.

[2021-01-30 01:29] THIRISANGU commented on #189
Facing the same issue with 2.172.0!

[2021-01-30 06:27] ainame commented on #189
The PR is ready to review.
https://github.com/fastlane/fastlane/pull/18053

In the meantime, please use fastlane 2.171.0 for now.

[2021-02-03 14:04] H2wk opened #190 "Swift Package Manager Mandatory fields"
**Summary**

For pure SPM package projects i.e. projects that only use a Package.swift and no Xcode project. The xcodeproj: parameter is mandatory in xcov when trying to get coverage reports.

When building a swift package on the command line with xcodebuild you can build & test the package without a xcodeproj or
xcworkspace.

Xcode automatically generates a scheme file for any swift package manag

[2021-02-10 09:15] ainame commented on #189
https://github.com/fastlane/fastlane/pull/18053 got merged and 2.174.0 is out now.

[2021-02-10 14:36] AleMaMi commented on #189
Great job, it works again. Thanks a lot.

[2021-02-10 17:44] THIRISANGU commented on #189
Thanks, @ainame.

[2021-02-12 03:32] ainame commented on #189
@AleMaMi Would you mind close this issue? 😇

[2021-02-12 11:14] AleMaMi commented on #189
Ah! It's my responsibility. Sure!

[2021-02-12 11:14] #189 closed

[2021-02-25 18:24] mockaccount-cs opened #191 "[!] Could not find option 'workspace' in the list of available options:"
Hi. I am running `xcov` within GitHub Actions right after my test step and I keep seeing the error `[!] Could not find option 'workspace' in the list of available options:`

1. I ran this command:
`fastlane scan --scheme "SchemeTests" --code_coverage true --skip_build true --output_directory "test_output"`
2. It was successful
3. Then I ran this:
`fastlane run xcov project:"project-name.xcodeproj"

[2021-03-03 16:36] asam139 commented on #187
Same problem using 12.4

Traceback (most recent call last):
	39: from /Users/93sauu/.rvm/gems/ruby-2.6.3/bin/ruby_executable_hooks:24:in `<main>'
	38: from /Users/93sauu/.rvm/gems/ruby-2.6.3/bin/ruby_executable_hooks:24:in `eval'
	37: from /Users/93sauu/.rvm/gems/ruby-2.6.3/bin/fastlane:23:in `<main>'
	36: from /Users/93sauu/.rvm/gems/ruby-2.6.3/bin/fastlane:23:in `load'
	35: from /Users/93sauu/.r

[2021-04-06 17:14] iRILLLL commented on #143
anyone know how to solve it?

[2021-05-05 16:29] cameronehrlich commented on #187
Anyone have a workaround for this?

[2021-05-05 19:39] klein-thibault commented on #143
Same issue, I get accurate reporting from xcov but it shows 0% in Coveralls.

[2021-05-17 20:54] gobetti commented on #176
https://github.com/fastlane-community/xcov/pull/173 closed this issue 👍 thanks everybody!

[2021-05-17 20:54] #176 closed

[2021-05-19 20:36] chrispomeroyhale commented on #143
@klein-thibault I wrote the comment you referenced, maybe I can help clear this up. Although my memory is hazy, and I don't have the complete historical context, essentially the Swift toolchain has moved from gcov (of the gcc toolchain) to llvm-cov for generating coverage reports. This shift in tooling has muddied the waters.

Although I don't use xcov I had initially considered going down the pat

[2021-06-02 06:36] KacperCzapp commented on #107
Hi, any news on this? :)

[2021-06-02 11:26] KacperCzapp commented on #102
In my case it was the issue of having:
[code]
instead of
[code]
(notice the dot before the asterisk)

[2021-06-13 17:14] SvenMuc opened #193 "Reports 0% Code Coverage with Xcode 12.5"
Hi I'm using xcov quite for while. After updating to Xcode 12.5 the tool reports 0%.
Any ideas?

[code]

[2021-09-14 08:46] fermoyadrop commented on #143
I get an error when I run `xcrun llvm-cov export -format=lcov`:
[code]
any ideas why?

[2021-09-14 22:03] chrispomeroyhale commented on #143
I believe it's telling you to include the `instr-profile` option as an input to the command. I have an example usage of this command in [datapackage-swift](https://github.com/frictionlessdata/datapackage-swift/commit/c84e9ea8fd5b5e65dd02306224df4eb3a8c9e272#diff-6ac3f79fc25d95cd1e3d51da53a4b21b939437392578a35ae8cd6d5366ca5485R10) which I'm assuming still works.

[2021-09-15 07:32] fermoyadrop commented on #143
Thanks! I got it working. I'll leave it here incase someone else runs into the same issue:
[code]

Just to add another workaround, I've also found [Slather](https://github.com/SlatherOrg/slather), also available for [fastlane](https://docs.fastlane.tools/actions/slather/). They accept `profdata` and parse the `coverage` field in the POST request to Coveralls correctly. They just support a handful

[2021-09-19 09:43] sseen commented on #191
Add `bundle update` in your actions before you execute the xcov command, hope useful.

[2021-10-08 08:54] an-dinh-jp opened #194 "Exclude subset of ignored files in .xcovignore"
Hi, now I want to ignore all files with `- *Builder.swift` but except `*ControllerBuilder.swift`. Do we have any way to this in .xcovignore?

[2021-12-14 11:29] manicmaniac opened #195 "xccov_file_direct_path cannot treat with multiple files"
Since the option `--xccov_file_direct_path` doesn't accept multiple files, `xcov` cannot merge multiple .xcresult bundles output from multiple test runs.

On the other hand, without specifying `--xccov_file_direct_path`, [`xcov` searches `${DERIVED_DATA_PATH}/Logs/Test/*.xcresult`](https://github.com/fastlane-community/xcov/blob/f8904c7f000b415c7800b1c68c50e8de9dab76da/lib/xcov/manager.rb#L53) and

[2022-02-18 15:29] prashanth-sams opened #198 "Missing `clean: true` to delete the existing code coverage data"
It is not allowing to export new coverage unless the existing data is empty

[2022-02-25 16:05] reshadf commented on #142
@joshdholtz could you have a look at this? I believe it broke down somewhere. I have been researching for a few days and this issue https://github.com/fastlane/fastlane/issues/19824 helped me out fixing it partially, however, using the danger-xcov plugin to output it to GitHub still fails with the same error. This all started when I changed the default derived data path.

This is what I have in fa

[2022-03-05 14:42] #195 closed

[2022-03-12 14:01] ravitripathi opened #201 "Parsing Coverage Data for Swift Packages"
### Background

Swift Package Manager uses a new format to generate coverage data for code. Instead of an `xccoverage` file, a `json`  is generated by SPM containing the coverage data. For an existing swift package, run

`swift test --enable-code-coverage`

This would generate a `<Your_Package_Name>.json` file in `.build/debug/codecov` directory.

https://github.com/mattpolzin/swift-test-codecov u

[2022-03-12 14:04] ravitripathi commented on #201
@joshdholtz Created this issue after your suggestion on my tweet 🙏🏽

[2022-04-10 13:09] pgawlowski opened #204 "Invalid coverage report for SPM"
While running tests on my own SPM coverage report is showing some invalid info.
Not sure why it includes additional dependencies like Alamofire and it is showing coverage for... Test Files :)

`+------------------------------+---------+
|          xcov Coverage Report          |
+------------------------------+---------+
| Alamofire                    | 0.00%   |
| BetterCodable                | 0

[2022-04-14 12:59] michallaskowski opened #205 "Missing git information when uploading to coveralls"
Switching from Slather for technical reasons, there is not enough data in Coveralls, compared to our previous runs, so that new data is not displayed. We were tracking coverage on main branch, and in Pull Requests, but with xcov there is no possibility to specify branch's name or PR info.

Take a look at what Slather does: https://github.com/SlatherOrg/slather/blob/master/lib/slather/coverage_serv

[2022-04-20 10:36] benben2019 commented on #191
@sseen worked for me

[2022-05-05 02:43] uknowmeright commented on #198
I am also experiencing this.
I need to go in and remove the xcov_output folder each time for it to successfully output the coverage data.
Is anyone else experiencing this?

[2022-05-07 09:34] karthuszY opened #206 "Could not find option 'xccov_file_direct_path' in the list of available options"
Here is my code, i use it in github Action and get this error:
`Could not find option 'xccov_file_direct_path' in the list of available options`
[code]

[2022-05-07 09:47] karthuszY commented on #206
add xcov to Gemfile fixed

[2022-05-07 09:47] #206 closed

[2022-05-10 15:42] JuLima14 commented on #198
same, for now I'm removing the output_directory

[2022-05-11 08:58] wvteijlingen opened #207 "Modernize HTML templates"
I noticed that the HTML output is somewhat dated, and I think it can be improved in several ways:

1. Drop support for IE. This means we can remove all shims
2. Drop jquery. Everything can be done using vanilla JS nowadays.
3. Drop bootstrap and use minimal custom CSS to achieve the same result.
4. Merge all output in one HTML file.

I think specifically the last improvement would be nice. It will

[2022-06-30 17:53] msimonetta1 opened #208 "Fix root directory when opening files"
Error:

`fatal: Cannot open 'Ando/Ando/LiveStreamKit/Sources/Broadcast/LiveStreamAssistantControlsService.swift': No such file or directory`

The correct directory path is: `Ando/LiveStreamKit/Sources/Broadcast/LiveStreamAssistantControlsService.swift`

I am not sure how to modify the path to point to it correctly

[2022-08-05 14:23] soconnor-florio commented on #168
+ 1000 as well.

The issue is I might want to merge reports from different .json reports, and derive an overall `coveredLines / totalLines` value.

Ultimately the lack of this feature makes xcov unusable for me.  Perhaps if it could generate the same json reports (with a flag) as xccov does, there would be some interoperability possible, the ability to merge reports, etc.

[2022-08-10 08:33] HossamYoussof commented on #187
Clear output directory before check

[code]

[2022-08-24 08:42] BrandonWalker88 commented on #107
Hello, any updates this is still happening????

[2022-09-19 09:30] BeibeiLewis opened #210 "How can we ignore `Swift Package Dependencies`"
As title, how can we ignore `Swift Package Dependencies`.

[2022-09-22 06:43] BeibeiLewis commented on #120
h

Hello, my brother, how to resolve the issue?  i hit the issue too.

[2022-09-22 06:52] BeibeiLewis commented on #187
Hello, Have you resolved the issue?  i hit the issue too.